// Définition des couleurs en nuances de gris
// Définition des couleurs en nuances de gris
$noir: #00000085;
$blanc: #ffffff;
$grisFonce: #22222269;
$grisMoyen: #555555;
$grisClair: #aaaaaa33;
$newgray: #595959;


$margintopValu: 10px;
$paddindValu: 8px;
$borderRadiusValu: 8px;

.firstrow {
  background-color: $grisClair;

  .formpart > .colo > .grid {
    display: grid;
    grid-template-rows: auto auto;
  }

  .detailPlat {
    margin: auto;
    display: grid !important;
    grid-template-columns: 58% 40%;
    gap: 2%;
  }

  .categorie, .namePlat {
    margin: auto;
  }
}

.secaindrow {
  .row2 {
    width: 100%;
  }

  > div {
    > div {
      margin: auto;
    }
  }

  .ingredients {
    margin: 0px !important;
    width: 100%;
  }

  .listIngredients {
    transition: 1s ease;
    font-size: 10px;
    margin-top: $margintopValu;
    margin-bottom: $margintopValu;

    .entetelist, .linebdy {
      display: grid;
      grid-template-columns: 45% 15% 15% 25%;

      .lbl {
        word-wrap: break-word;
        align-items: center;
        display: flex;
      }
    }

    .linebdy {
      border: 2px solid rgba(0, 0, 0, 0);
      padding: 0px $paddindValu;
      color: $noir !important;
    }
  }
}

.thirdrow {
  background-color: $grisClair;

  .listIngredientsImages {
    transition: 1s ease;
    font-size: 10px;
    margin-top: $margintopValu;
    margin-bottom: $margintopValu;

    .entetelist, .linebdy {
      display: grid;
      grid-template-columns: 55% 45%;

      .lbl {
        word-wrap: break-word;
        align-items: center;
        display: flex;
      }
    }

    .linebdy {
      border: 2px solid rgba(0, 0, 0, 0);
      padding: 0 $paddindValu;
      color: $noir !important;
    }
  }
}

// Titres et en-têtes
.head {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  border: 2px solid $grisFonce;
  padding: 2%;
}

.mini-head {
  font-weight: bold;
  width: 100%;
  border: 2px solid $grisFonce;
  padding: 5px;
}

.head-no-border {
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  padding: 2%;
}

.bighead {
  font-size: 1.7rem;
}

.head-center {
  display: flex;
  justify-content: center;
}

// Divs colorées
.divblue {
  padding: $paddindValu;
  border: 2px solid black;
  color: $blanc;
  background-color: $grisFonce;
  border-radius: $borderRadiusValu;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.divgray {
  padding: $paddindValu;
  border: 2px solid $noir;
  font-size: 12px;
  color: $blanc;
  background-color: $newgray;
  border-radius: $borderRadiusValu;
  font-weight: bold;
  display: flex;
  justify-content: center;

  label {
    margin: auto;
  }
}

.divblanc {
  background-color: $blanc;
}

// Boutons
.p-button-nouveau {
  background: $grisMoyen;
  color: $blanc;
  border: 1px solid $grisMoyen;
}

.p-button-saved {
  background: $grisClair;
  color: $noir;
  border: 1px solid $grisClair;
  margin: auto;
  width: auto;
  display: block;
}

.p-button-annuler {
  background: $grisFonce;
  color: $blanc;
  border: 1px solid $grisFonce;
}

.p-button-newline {
  margin: auto;
  background: $blanc;
  color: $grisMoyen;
  border: 1px solid $grisMoyen;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.p-button-newline-red {
  margin: auto;
  background: $grisFonce;
  color: $blanc;
  border: 1px solid $grisFonce;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.p-button-newline-red:hover {
  background: $blanc;
  color: $grisFonce;
  border: 1px solid $grisFonce;
}

.p-button-vert {
  border: none;
  width: auto;
  margin: auto;
  display: block;
}

// Bordures
.brdr-left {
  border-left: 2px solid $blanc;
}

.brdr-right {
  border-right: 2px solid $blanc;
}

.pdl {
  padding-left: 5px;
}

.pdr {
  padding-right: 5px;
}

// Media Queries
@media screen and (max-width: 600px) {
  .firstrow, .secaindrow > .row1, .thirdrow {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    display: grid;

    > div {
      width: 100%;
    }
  }

  .listIngredients {
    overflow-x: scroll;
  }
}


.info-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 30px;
}

.info-header {
  display: flex;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #555;
  padding: 12px 16px;
}

.info-header-cell {
  flex: 1;
  text-align: left;
}

.info-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 12px 16px;
}

.info-row:last-child {
  border-bottom: none;
}

.p-button-primary {
  border: none;
  width: auto;
  margin: auto;
  display: block;
  text-align: center;
}

.info-cell {
  flex: 1;
  padding: 12px 16px;
}