
<div class="loader " *ngIf="loadingPage">
    <div class="card flex  justify-content-center">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
  </div>
  <p-toast position="top-center" key="tc"></p-toast>
  
  
  <div class="bigContaint w-full max-w-none">
    <div class="simulator-header flex justify-between items-center w-full">
      <h1>SIMULATEUR ECONOMIQUE MENSUEL</h1>
      <!-- <span><i style="color: white;">ESTIMEZ VOTRE REVENU POUR UNE PERIODE DONNEE</i></span> -->
      <!-- Bilan -->
      <!-- <div class="title-employe-situation entete-haut bg-white border-1 flex align-items-center justify-content-center"> -->
        <!-- <h3>BILAN (ENTREES - SORTIES) = 
          <span appPriceFormater [priceValue]="totalRevenus-totalDepenses | number: '1.0-3':'fr-FR'"></span>
        </h3> -->
      <!-- </div> -->
      <span class="devise" style="font-size: 25px;">BILAN (ENTREES - SORTIES) = 
        <!-- <span appPriceFormater [priceValue]="totalRevenus-totalDepenses | number: '1.0-3':'fr-FR'"></span> DEVISE : {{ userCurrency }}</span> -->
        <span appPriceFormater [priceValue]="totalRevenus-totalDepenses | number: '1.0-3':'fr-FR'"></span> {{ userCurrency }}</span>
      
    </div>
    
    <!-- <div class=" entete-haut ml-1 grid flex gap-2" >
      <span><i>ESTIMEZ VOTRE REVENU POUR UNE PERIODE DONNEE</i></span>
    </div> -->
    <div class="bar_horizontal mt-3"></div>
    <div class="container2 w-full">
      <div class="devise-div" class="hidden">
        <!-- Période -->
        <div class="facteur-lab border-1 bg-bleu-foncer col-12 sh flex gap-2 align-items-center">
          <span>PERIODE DU</span>
          <p-calendar dateFormat="dd.mm.yy" [(ngModel)]="estimationVente.dateDebut" name="dateDebutEstimation" id="dateDebutEstimation"></p-calendar>
          <span>AU</span>
          <p-calendar dateFormat="dd.mm.yy" [(ngModel)]="estimationVente.dateFin" name="dateFinEstimation" id="dateFinEstimation"></p-calendar>
        </div>
      
        <!-- Bilan -->
        <!-- <div class="title-employe-situation entete-haut bg-white border-1 flex align-items-center justify-content-center">
          <p>BILAN (ENTREES - SORTIES) = 
            <span appPriceFormater [priceValue]="totalRevenus-totalDepenses | number: '1.0-3':'fr-FR'"></span>
          </p>
        </div> -->
      </div>
      <!-- <div class="bar_horizontal mt-3"></div>       -->
      <div class="title-employe-situation entete-haut bg-white  border-1" class="hidden">
        <label class="" for="">SITUATION DES SORTIES : DEPENSES</label>
      </div>
  
      <div class="simulation-div grid w-full">
        <div class="right-part w-full mt-5">
          <!--Situation des employes-->
          <div class="employe-situation">
              <div class="title-employe-situation entete-haut ml-3 bg-white  border-1">
                <label class="" for="">SECTION DES SALARIES</label>
              </div>
  
              <div class="contenu-situation-employe contenu-situation grid gap-2">
                <div class="plat-list grid gap-2 col-12">
                  <div class="col-4 p-2 border-1 surface-border	 sh">PROFIL</div>
                  <div class="col-3 p-2 border-1 surface-border	 sh">SALAIRE</div>
                  <div class="col-1 p-2 border-1 surface-border	 sh">NOMBRE</div>
  
                  <div class="col-3  p-2 border-1 surface-border	 sh">TOTAL</div>
                </div>
  
                <div class="plat-list grid gap-2 col-12" *ngFor="let profil of profilList,let i=index" >
                  <div class="col-4 p-2 border-1 surface-border sh justify-content-center align-items-center flex">{{profil.libelle}}</div>
                  <div class="col-3 p-2 border-1 surface-border sh">
                    <p-inputNumber name="{{profil.salaire}}"  id="slairevalue{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="profil.salaire" class="sh w-full with-web-kit-number" (ngModelChange)="changeProfilDetail(i)"  ></p-inputNumber>
                   
                  </div>
                  <div class="col-1 p-2 border-1 surface-border  sh">
                    <div class="grid col-12 nbreEmplyeSlider">
                      <!-- <p-slider name="sliderMois{i}" [(ngModel)]="profil.nbreEmploye" class="col-7 sh" [min]="1" [max]="300" (ngModelChange)="changeProfilDetail(i)"/> -->
                      <input type="text"  name="nbreEmploye{i}" pInputText [(ngModel)]="profil.nbreEmploye" class="sh w-full with-web-kit-number" (ngModelChange)="changeProfilDetail(i)"/>
                    </div>
                    
                  </div>
                  <div class="col-3 p-2 border-1 surface-border sh">
                    <p-inputNumber  name="{{profil.libelle}}-total"  id="value{i}_total" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="profil.total"  class="sh w-full with-web-kit-number" (ngModelChange)="changeProfilDetail(i)"  [min]="3" ></p-inputNumber>
                  
                  </div>
                  
                </div>
                <div class="grid mb-1" class="hidden">
                  <div class="col-6 p-2 "> <span class="flex col-12 border-1  surface-border justify-content-center align-items-center h-full sh">TOTAL SALAIRE</span> </div>
                  <div class="col-6 p-2  sh">
                    <span class="p-2 flex border-1 surface-border">
                      <p-inputNumber  name="total-passif"  id="value{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="totalSalaire" class="sh w-full with-web-kit-number"   ></p-inputNumber>
                      
                    </span>
                  </div>
                </div>
              </div> 
              <div class="bar_horizontal mt-3"></div>
              <div class="title-employe-situation entete-haut ml-3 bg-white  border-1 surface-border">
                <label class="" for="">SECTION DES CHARGES </label>
              </div>
              <!--Liste des operations de depenses-->
              <div class="grid"  *ngFor="let passif of passifTypeOperations">
                <div class="col-6 p-2 "> <span class="h-full col-12 border-1 surface-border justify-content-center align-items-center flex  sh">{{passif.libelle}}</span> </div>
                <div class="col-6 p-2  sh">
                  <span class="p-2 flex border-1 surface-border">
                    <p-inputNumber  name="{{passif.libelle}}"  id="value{i}" mode="decimal" [maxFractionDigits]="3"   [(ngModel)]="passif.montant" class="sh w-full with-web-kit-number"  (ngModelChange)="calculTotalDepenses()" ></p-inputNumber>
                      
                  </span>
                </div>
              </div>
          </div>
          
  
          <!--Estimation des ventes-->
          <div class="estimation-vente ">
            <div class="title-employe-situation entete-haut ml-3 bg-white  border-1 surface-border">
              <label class="" for="">SITUATION DES ENTREES : VENTES</label>
            </div>
            
            <div class="contenu-estimation-vente contenu-situation ">
              
              <div class="plat-list grid gap-2 header-modern">
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-utensils"></i> PLAT
                </div>
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-dollar"></i> COÛT DE PRODUCTION
                </div>
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-sliders-h"></i> FACTEUR MULTIPLICATIF
                </div>
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-tag"></i> PRIX DE VENTE
                </div>
                <div class="col-1 flex align-items-center gap-2">
                  <i class="pi pi-sort-numeric-up"></i> QTE
                </div>
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-calculator"></i> TOTAL
                </div>
              </div>
              <div class="plat-list grid gap-2" *ngFor="let plat of dishesList,let i=index">
                <div class="col-2  border-1 surface-border sh justify-content-center align-items-center flex">{{plat.name}}</div>
                <div class="col-2  border-1 surface-border sh">
                  <p-inputNumber name="{{plat.name}}-net"  id="value{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="plat.cout" class="sh w-full with-web-kit-number" (ngModelChange)="changePlatDetail(i)" [disabled]="true"  ></p-inputNumber>
                
                </div>
  
                <div class="col-2 p-1 border-1 surface-border sh">
                  <p-inputNumber  name="{{plat.name}}-facteur"  id="value{i}_facteur" mode="decimal" [maxFractionDigits]="2"  [(ngModel)]="plat.facteurMultiplicatif"  class="sh w-full with-web-kit-number" (ngModelChange)="changePlatDetail(i)"  [min]="3" ></p-inputNumber>
                  <!--<input type="text"  name="{{plat.name}}-nbre" pInputText [(ngModel)]="plat.nbre" class="sh w-full" (ngModelChange)="changePlatDetail(i)"/>-->
                </div>
  
                <div class="col-2 p-1 border-1 surface-border sh">
                  <p-inputNumber  name="{{plat.name}}-prix_revient"  id="value{i}_prix_revient" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="plat.prixRevient"  class="sh w-full with-web-kit-number" (ngModelChange)="changePlatDetail(i)" [disabled]="true" [min]="0" ></p-inputNumber>
                </div>
  
                <div class="col-1 p-1 border-1 surface-border sh">
                  <p-inputNumber  name="{{plat.name}}-nbre"  id="value{i}_nbre"   [(ngModel)]="plat.nbre" mode="decimal" [maxFractionDigits]="2"  class="sh w-full with-web-kit-number" (ngModelChange)="changePlatDetail(i)"  [min]="0" ></p-inputNumber>
                  <!--<input type="text"  name="{{plat.name}}-nbre" pInputText [(ngModel)]="plat.nbre" class="sh w-full" (ngModelChange)="changePlatDetail(i)"/>-->
                </div>
    
                <div class="col-2 p-1 border-1 surface-border sh">
                  <p-inputNumber name="{{plat.name}}-total"  id="value{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="plat.totalPrice" class="sh w-full with-web-kit-number" (ngModelChange)="updatPlatTotalPrice()" [disabled]="true" ></p-inputNumber>
                  <!--<input type="text"  name="{{plat.name}}-total" pInputText [(ngModel)]="plat.totalPrice" class="sh w-full" (ngModelChange)="updatPlatTotalPrice()"/>-->
                </div>
  
                <!--<p-button class="col-1 p-1 sh" icon="pi pi-eye" (click)="showDetailEstimation(plat)" />-->
  
  
              </div>
              <div class="plat-list grid gap-2 header-modern">
                <div class="col-8 flex align-items-center gap-2">
                  <i class="pi pi-utensils"></i> TOTAL ESTIMATION
                </div>
                <div class="col-2 flex align-items-center gap-2">
                  <i class="pi pi-utensils"></i> {{ totalEstimation | number:'1.0-3':'fr-FR' }} {{ userCurrency }}
                </div>
              </div>
  
            </div>
  
  
            <!--Separator bar-->
                  
            <div class="bar_horizontal mt-3"></div>
  
            
          </div>
          <!--Situation Passifs-->
          <div class="list-passifs mt-4" class="hidden">
            
            <div class="grid mb-1" >
              <div class="col-6 p-2 "> <span class="flex col-12 border-1 surface-border justify-content-center align-items-center h-full sh">Coût Achats de produits</span> </div>
              <div class="col-6 p-2  sh">
                <span class="p-2 flex border-1 surface-border">
                  <p-inputNumber  name="coutPlat"  mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="coutPlat" class="sh w-full with-web-kit-number"  (ngModelChange)="calculTotalDepenses()" ></p-inputNumber>
                </span>
              </div>
            </div>         

            <div class="bar_horizontal mt-3"></div>

            <div class="grid mb-1" >
              <div class="col-6 p-2 "> <span class="flex col-12 border-1 surface-border justify-content-center align-items-center h-full sh">Total dépenses</span> </div>
              <div class="col-6 p-2  sh">
                <span class="p-2 flex border-1 surface-border ">
                  <p-inputNumber  name="total-passif"  id="value{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="totalDepenses" class="sh w-full with-web-kit-number"  (ngModelChange)="calculTotalDepenses()" ></p-inputNumber>
                 
                </span>
              </div>
            </div>
            <!--Situation Actifs-->
              
            <div class="grid mb-1 mt-4"  >
              <div class="col-6 p-2 "> <span class="flex col-12 border-1 surface-border justify-content-center align-items-center h-full sh">Total Plat</span> </div>
              <div class="col-6 p-2  sh">
                <span class="p-2 flex border-1 surface-border">
                  <p-inputNumber  name="total-actif"  id="value{i}" mode="decimal" [maxFractionDigits]="3"   [(ngModel)]="totalEstimation" class="sh w-full with-web-kit-number" [showButtons]="true"  ></p-inputNumber>
  
                </span>
              </div>
            </div>
  
            <div class="list-actifs " >
              <div class="grid"  *ngFor="let actif of actifTypeOperations">
                <div class="col-6 p-2 "> <span class="h-full col-12 border-1 surface-border justify-content-center align-items-center flex  sh">{{actif.libelle}}</span> </div>
                <div class="col-6 p-2  sh">
                  <span class="p-2 flex border-1 surface-border">
                    <p-inputNumber  name="{{actif.libelle}}"  id="value{i}" mode="decimal" [maxFractionDigits]="3"  [(ngModel)]="actif.montant" class="sh w-full with-web-kit-number" [showButtons]="true"  (ngModelChange)="calculTotalRevenus()" ></p-inputNumber>
                    <!--<input type="text"  name="{{actif.libelle}}" pInputText [(ngModel)]="actif.montant" class="sh w-full" (ngModelChange)="calculTotalRevenus()"/>-->
                  </span>
                </div>
              </div>
  
              <div class="grid mb-1" >
                <div class="col-6 p-2 "> <span class="flex col-12 border-1 surface-border justify-content-center align-items-center h-full sh">Total revenus</span> </div>
                <div class="col-6 p-2  sh">
                  <span class="p-2 flex border-1 surface-border">
                    <p-inputNumber  name="total-actif"  id="value{i}" mode="decimal" [maxFractionDigits]="3"   [(ngModel)]="totalRevenus" class="sh w-full with-web-kit-number" [showButtons]="true"  ></p-inputNumber>
  
                    <!--<input type="text"  name="total-actif" pInputText [(ngModel)]="totalRevenus" class="sh w-full"/>-->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--Btn part-->
  
          <!-- <div class="col-12 gap-2 no-bg mt-1">
  
            <button pButton label="Annuler" type="submit" [loading]="loadingSave" class="p-button-annuler  col-5"  ></button>
            <button pButton label="Enregistrer" type="submit" [loading]="loadingSave" [disabled]="totalRevenus <= 0 || totalDepenses <= 0" class="p-button-saved col-5" 
            (click)="saveEstimation()"
            ></button>
  
          </div> -->
  
        </div>
    
    </div> 
  
  </div>
  