<div>
    <mat-card-title class="m-b-4">Congratulations Jonathan</mat-card-title>
    <mat-card-subtitle>You have done 38% more sales</mat-card-subtitle>
</div>
<div class="m-t-12">
    <div class="row align-items-center">
        <div class="col-sm-5">
            <ul class="list-unstyled m-b-24 mb-md-0">
                <li class="d-flex align-items-center m-b-20">
                    <div
                        class="bg-light-primary rounded-circle-shape p-x-16 p-y-8 m-r-16 rounded-pill d-flex align-items-center justify-content-center">
                        <i class="iconify f-s-24 text-primary" data-icon="solar:cart-4-line-duotone"></i>
                    </div>
                    <div>
                        <h6 class="mat-subtitle-1 f-s-16">64 new orders</h6>
                        <p class="f-s-14 mat-body-1 f-w-500">Processing</p>
                    </div>
                </li>
                <li class="d-flex align-items-center m-b-20">
                    <div
                        class="bg-light-error rounded-circle-shape p-x-16 p-y-8 m-r-16 rounded-pill d-flex align-items-center justify-content-center">
                        <i class="iconify f-s-24 text-error" data-icon="solar:checklist-minimalistic-line-duotone"></i>
                    </div>
                    <div>
                        <h6 class="mat-subtitle-1 f-s-16">4 orders</h6>
                        <p class="f-s-14 mat-body-1 f-w-500">On hold</p>
                    </div>
                </li>
                <li class="d-flex align-items-center">
                    <div
                        class="bg-light-success rounded-circle-shape p-x-16 p-y-8 m-r-16 rounded-pill d-flex align-items-center justify-content-center">
                        <i class="iconify f-s-24 text-success" data-icon="solar:banknote-line-duotone"></i>
                    </div>
                    <div>
                        <h6 class="mat-subtitle-1 f-s-16">12 orders</h6>
                        <p class="f-s-14 mat-body-1 f-w-500">Delivered</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-7">
            <div class="text-end">
                <img src="assets/images/backgrounds/teamwork.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>