<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-baseline">
            <div>
                <mat-card-title class="m-b-4 f-s-16">Latest Deal</mat-card-title>
                <mat-card-subtitle>Last 7 days</mat-card-subtitle>
            </div>
            <span class="bg-light-primary f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-primary">86.5%</span>
        </div>
        <div class="m-y-48">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="mat-subtitle-1 f-s-16">$98,500</h6>
                <h6 class="mat-subtitle-1 f-s-16">$1,22,900</h6>
            </div>
            <mat-progress-bar class="m-y-8" mode="determinate" color="success" value="80"></mat-progress-bar>
            <p class="f-s-14 mat-body-1 f-w-500">Coupons used: 18/22</p>
        </div>
        <h6 class="mat-subtitle-1 f-s-14">Recent Purchasers</h6>
        <div class="d-flex align-items-center gap-8 social-chips">
            <img src="assets/images/profile/user-5.jpg" alt="user-1" class="rounded-circle cursor-pointer" width="40" />
            <img src="assets/images/profile/user-2.jpg" alt="user-1" class="rounded-circle cursor-pointer" width="40" />
            <img src="assets/images/profile/user-3.jpg" alt="user-1" class="rounded-circle cursor-pointer" width="40" />
            <img src="assets/images/profile/user-4.jpg" alt="user-1" class="rounded-circle cursor-pointer" width="40" />
            <span
                class="icon-40 bg-light-primary text-primary rounded-circle cursor-pointer d-flex align-items-center justify-content-center text-decoration-none">+8
            </span>
        </div>
    </mat-card-content>
</mat-card>