// Définition des nouvelles couleurs
$grisFonce: #333333;
$grisMoyen: #666666;
$grisClair: #999999;
$grisTrèsClair: #D1D1D1;
$noir: #000000;
$blanc: #ffffff;

// Boutons
.p-button-vert {
  background: $grisMoyen;
  border: none;
  width: auto;
  margin: auto;
  display: block;
  color: $blanc;
  &:hover {
    background: $grisClair;
    color: $noir;
  }
}

.disabled-option {
  color: $grisTrèsClair; /* Couleur grise pour les éléments désactivés */
}

.card {
  border: none !important;
  background: $grisFonce;
  color: $blanc;
}

.btnspart {
  display: flex;
  justify-content: end;
}

.divider {
  border-bottom: 1px solid $grisClair;
}

.divider-b {
  border-bottom: 4px solid $grisMoyen;
}

// Styles des boutons
.p-button-nouveau {
  background: $grisMoyen;
  color: $blanc;
  border: 1px solid $grisMoyen;
}

.p-button-saved {
  background: $grisClair;
  color: $noir;
  border: 1px solid $grisClair;
  margin: auto;
  width: auto;
  display: block;
}

.p-button-annuler {
  background: $grisFonce;
  color: $blanc;
  border: 1px solid $grisFonce;
}

.p-button-newline {
  margin: auto;
  background: $blanc;
  color: $grisMoyen;
  border: 1px solid $grisMoyen;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.cardnew {
  padding: 10px;
  border-radius: 5px;
  border: 5px solid $grisMoyen;
  background: $grisFonce;
  color: $blanc;
}

// Alignement flexbox
.flex-1 {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

  h5,
  button {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  h5 {
    margin-left: 0;
  }

  button {
    margin-right: 0;
  }
}

// Tableaux
table {
  width: 100%;
  background: $grisFonce;
  color: $blanc;
}

table > tr {
  background-color: $grisMoyen;
  border-radius: 5px;
  padding: 3px;
}

.divtableau {
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
  background: $grisFonce;
}

.al-btn {
  margin: auto;
  padding-right: 0px;

  button {
    width: -webkit-fill-available;
    background: $grisClair;
    color: $noir;
    border: 1px solid $grisMoyen;
    &:hover {
      background: $grisMoyen;
      color: $blanc;
    }
  }
}
