.al-btn{
    margin: auto;
    padding-right: 0px;
  
    button{
      width: -webkit-fill-available;
    }
  }
  
  // .p-button-orange{
  //   background: $vertClair;
  //   border: none;
  // }
  