<div class="">
  <form class="grid newform " #f="ngForm" (ngSubmit)="save()">
    <div class="col-12 card p-fluid">
      <!--<h5>Ajouter un nouveau Approvisionnement</h5>-->

      <div class="grid p-3  entete bg-primary">

        <!--<div class="field">
          <label htmlFor="reference">Reference</label>
          <input pInputText id="reference" [(ngModel)]="reference" name="reference" type="text" placeholder="Reference Approvisionnement" required/>
        </div>-->

        <div class="field col-2">
          <label htmlFor="datePurchase">DATE </label>
          <p-calendar [(ngModel)]="data.datePurchase" dateFormat="dd-mm-yy" [showOnFocus]="false" showIcon="true"
            name="datePurchase" id="datePurchase"></p-calendar>
          <!--(onFocus)="$event.preventDefault()"-->
        </div>

        <div class="field col-5">
          <label htmlFor="shop">FOURNISSEUR</label>
          <p-dropdown [options]="shops" optionLabel="name" name="shop" [(ngModel)]="data.shop">
            <ng-template let-shop pTemplate="item">
              <div class="flex align-items-center operatingSystems-item">
                <div class="flex align-items-center operatingSystems-item">
                  <div> {{shop?.name}}({{ shop.addressPrincipale?.streetName }}, {{ shop.addressPrincipale?.streetNumber
                    }}, {{ shop.addressPrincipale?.label }}, {{ shop.addressPrincipale?.city }}, {{
                    shop.addressPrincipale?.country.name }}.)</div>
                </div>

              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <!--<div class="field col-3">
          <label htmlFor="addresse">Adresse</label>
          <p-dropdown [options]="addresss"   name="addresse" [(ngModel)]="data.address" >
            <ng-template let-addresss pTemplate="item">
              <div class="flex align-items-center operatingSystems-item">
                <div> {{addresss.label}}</div>

              </div>
            </ng-template>
          </p-dropdown>
        </div>-->

        <!--<div class="grid col">-->
        <div class="col-3">
          <div class="field">
            <label htmlFor="montant">MONTANT</label>
            <p-inputNumber name="montant" id="montant" [(ngModel)]="data.montant" [showButtons]="true"
              [min]="0"></p-inputNumber>
          </div>
        </div>

        <div class="col-2">
          <div class="field ">
            <label htmlFor="currency">DEVISE</label>
            <p-dropdown [options]="currencys" optionLabel="name" name="currency"
              [(ngModel)]="data.currency"></p-dropdown>
          </div>
        </div>
        <!--</div>-->

      </div>
      <p class="divider mt-4"></p>
      <p class="divider"></p>

      <!--Formulaire d'ajout-->
      <!-- <h3>Saisie nouvel achat de produit </h3> -->
      <div class="cardnew mt-5 mb-5">
        <form class="p-fluid  ">
          <div class="grid">

            <div class="col-3">
              <div style="margin-top: -12px;"   class="field flex align-items-center gap-2">
                <label htmlFor="product{{detailPurchasesForms.length-1}}" class="w-6rem">PRODUIT</label>
                <button style="margin-top: -15px;" pButton pRipple type="button" icon="pi pi-plus"
                pTooltip="Ajouter un produit non existant"  tooltipPosition="top" appendTo="body"
                  class="p-button-rounded p-button-success small-button p-mr-2 h-full"
                  (click)="openDialogAdd()">
                </button>
              </div>
            
              <p-dropdown [filter]="true" filterBy="name" [options]="products" optionLabel="name"
                name="product{{detailPurchasesForms.length-1}}" (onFocus)="getProducts()"
                [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].product"
                (ngModelChange)="changeProduct(detailPurchasesForms[detailPurchasesForms.length-1].product,detailPurchasesForms.length-1)">
                <ng-template let-product pFilter="product.category.name" pTemplate="item">
                  <div class="flex align-items-center operatingSystems-item">
                    <div>{{product.name}} ({{product.category.name}} / {{product?.conditioning?.name}})</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <!--<div class="col-3">
         <div class="field ">
           <label htmlFor="product{{detailPurchasesForms.length-1}}">Produit</label>-->
            <!--<p-dropdown [options]="products"  optionLabel="name" name="product{{detailPurchasesForms.length-1}}" [(ngModel)]="detail.product" (ngModelChange)="changeProduct(detail.product,i)">
             <ng-template let-product pFilter="product.category.name" pTemplate="item" >
               <div class="flex align-items-center operatingSystems-item">
                 <div>{{product.name}} ({{product.category.name}})</div>
               </div>
             </ng-template>
           </p-dropdown>-->
            <!--<p-dropdown [options]="products"  optionLabel="name" name="product{{detailPurchasesForms.length-1}}"  [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].product" (ngModelChange)="changeProduct(detailPurchasesForms[detailPurchasesForms.length-1].product,detailPurchasesForms.length-1)"></p-dropdown>->
         </div>
       </div>-->
            <div class="col">
              <div class="field">
                <label htmlFor="quantity{{detailPurchasesForms.length-1}}">QUANTITE</label>
                <p-inputNumber mode="decimal" [minFractionDigits]="2" name="quantity{{detailPurchasesForms.length-1}}"
                  id="quantity{i}" [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].quantity"
                  (ngModelChange)="changeValue(detailPurchasesForms[detailPurchasesForms.length-1].quantity,detailPurchasesForms.length-1)"
                  [showButtons]="true" [min]="0"></p-inputNumber>
              </div>
            </div>
            <div class="col">
              <div class="field ">
                <label htmlFor="unit{{detailPurchasesForms.length-1}}">UNITE</label>
                <p-dropdown [options]="units" optionLabel="name" name="unit{{detailPurchasesForms.length-1}}"
                  [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].unit"
                  (ngModelChange)="changeUnit(detailPurchasesForms.length-1)"></p-dropdown>
              </div>
            </div>



            <div class="col-2">
              <div class="field">
                <label htmlFor="totalPrice{{detailPurchasesForms.length-1}}">PRIX TOTAL</label>
                <p-inputNumber mode="decimal" [minFractionDigits]="2" name="totalPrice{{detailPurchasesForms.length-1}}"
                  id="totalPrice{{detailPurchasesForms.length-1}}"
                  [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].totalPrice" [showButtons]="true"
                  [min]="0"
                  (ngModelChange)="changeValue(detailPurchasesForms[detailPurchasesForms.length-1].totalPrice,detailPurchasesForms.length-1)"></p-inputNumber>
              </div>
            </div>


            <div class="col">
              <div class="field">
                <label htmlFor="price{{detailPurchasesForms.length-1}}">PRIX A L'UNITE</label>
                <p-inputNumber mode="decimal" [minFractionDigits]="2" name="value{{detailPurchasesForms.length-1}}"
                  id="value{i}" [disabled]="true"
                  [(ngModel)]="detailPurchasesForms[detailPurchasesForms.length-1].value" [showButtons]="true"
                  [min]="0"></p-inputNumber>
              </div>
            </div>

            <div class="col mt-5">
              <div class="field">
                <label htmlFor="price{{detailPurchasesForms.length-1}}">           </label>
                <button pButton pRipple label="AJOUTER"
                  [disabled]="detailPurchasesForms[detailPurchasesForms.length-1].value <= 0" type="button"
                  class="col p-button p-button-success p-component"
                  (click)="firstSaveForDetail(detailPurchasesForms[detailPurchasesForms.length-1])">
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="detailPurchasesForms[detailPurchasesForms.length-1].distinctUnit" class="field">
            <label htmlFor="price{{detailPurchasesForms.length-1}}">QUANTITE REELLE : </label>
            <label> {{detailPurchasesForms[detailPurchasesForms.length-1].realQuantity}}</label>
          </div>



        </form>
        <!---->
        <!-- <div class="ml-auto btnspart  grid mt-3">
          <button (click)="openDialogAdd()" style="margin: 10px;" pButton label="Produit non existant" pRipple
            type="button" class="col p-button p-button-primary p-component">
          </button>

          <button style="margin: 10px;" pButton pRipple label="Ajouter"
            [disabled]="detailPurchasesForms[detailPurchasesForms.length-1].value <= 0" type="button"
            class="col p-button p-button-success p-component"
            (click)="firstSaveForDetail(detailPurchasesForms[detailPurchasesForms.length-1])">
          </button>

          <button style="margin: 10px;" pButton pRipple label="Annuler" type="reset"
            class="col p-button p-button-danger p-component" (click)="showAddProductForm()">
          </button>
        </div> -->
      </div>
      <div class="ml-auto btnspart col-6 mt-3 center-button" style="margin-right: 560px;">
        <button pButton label="Modifier mes courses" type="submit" [loading]="loading" 
          class="p-button-orange mt-2 mb-2"
          [disabled]="!f.valid || detailPurchasesForms2.length==0"></button>
      
        <button pButton type="button" (click)="confirm2($event)" label="Annuler" class="p-button-danger mt-2 mb-2"></button>
      </div>
      
      
     
      <!--Partit produit-->
      <div class="mb-2 mt-1">
        <!-- <div class="flex-1 mb-2">
          <h5>List des  produits</h5>
          <button pButton label="Ajouter une nouvelle saisie" type="button" [loading]="loading" class="p-button-newline mt-2" (click)="showAddProductForm()" ></button>
        </div> -->

        <!-- List of created product-->
        <div class="ListProduct">
          <p *ngIf="detailPurchasesForms2.length==0">Aucun produit pour l'instant! Veuillez remplir le formulaire pour
            ajouter un produit.</p>

          <div class="divtableau">
            <table *ngIf="detailPurchasesForms2.length!=0">
              <thead>
                <th>PRODUIT</th>
                <th>CATEGORIE</th>
                <th>CONDITIONNEMENT</th>
                <th>QUANTITE(UNITE)</th>

                <!-- <th>Prix/unité</th> -->
                <th>PRIX TOTAL </th>
                <th></th>

              </thead>
              <tr *ngFor="let detail of detailPurchasesForms2,let i=index">
                <td>{{detail?.product?.name}}</td>
                <td>{{detail.product?.category?.name}}</td>
                <td>{{detail?.product?.conditioning?.name}}</td>
                <td>{{detail?.realQ || detail?.quantity}} ({{detail?.realUnit || detail?.unit?.code}})</td>
                <!-- <td>{{detail?.value | number:'1.2-2'}}/{{detail?.unit?.code}}</td> -->
                <td>{{detail?.totalPrice}} {{ (cuuren) }}</td>
                <td>
                  <button pButton pRipple type="button" icon="pi pi-trash" style="width: 15px; height: 15px; font-size: 12px;"
                    class="p-button p-component p-button-text p-button-icon-only"
                    (click)="confirmDeleteDetail(detail,i)"></button>
                </td>

              </tr>

            </table>
          </div>

        </div>








      </div>



      <label id="erreur" *ngIf="isError">{{erreur}}</label>
      <label id="success" *ngIf="isSuccess">{{sucess}}</label>


      <p class="divider-b"></p>



    </div>



  </form>

</div>

<p-toast></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast key="product"></p-toast>
<p-toast key="positionDialog"></p-toast>

<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="positionModalConfirm"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>