<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input [(ngModel)]="motRecherche"
            matInput
            placeholder="Rechercher une course"
            (keyup)="recherche()"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialogAdd()" color="primary">
          Ajouter une course
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="date course">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date Course</th>
          <td mat-cell *matCellDef="let purchase">
            {{ purchase.datePurchase | date:'dd-MM-yyyy HH:mm' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fournisseur">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Fournisseur
          </th>
          <td mat-cell *matCellDef="let purchase" class="f-s-14">
            {{ purchase?.shop?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Montant
          </th>
          <td mat-cell *matCellDef="let purchase" class="f-s-14">
            {{ purchase.montant }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date de saisie">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Date de saisie
          </th>
          <td mat-cell *matCellDef="let purchase" class="f-s-14">
            {{ purchase.entryDate | date:'dd-MM-yyyy HH:mm' }}
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let purchase" class="action-link">
            <a
            (click)="openDialogEdit(purchase)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="eye" class="icon-18"></i-tabler
            ></a>

            <a
            (click)="openDialogEdit(purchase)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
                (click)="deletePurchase(purchase)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
      [length]="totalRows"
      [pageSize]="rows"
      [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


<!-- add -->
<!-- <ng-template  #dialogTemplate>
  <mat-dialog-content style="max-width: 1200px; max-height: 600px;">
     <div class="p-16 bg-light-primary rounded" style="margin-bottom: 20px;">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
        >Ajout d'un produit
      </h5>
    </div>
    <form  #purchaseForm="ngForm">
      <div class="row">
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Nom du Produit"
              required
              name="name"
              [(ngModel)]="purchaseData.name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Code du Produit"
              required
              name="code"
              [(ngModel)]="purchaseData.code"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Prix"
              required
              name="price"
              [(ngModel)]="purchaseData.price"
            />
          </mat-form-field>
        </div>

      </div>
      <div class="row">

        <div class="col-lg-6">
          <button mat-flat-button color="primary" class="large-button" (click)="addProduct()" [disabled]="!productForm.valid"> Ajouter </button>
        </div>
        <div class="col-lg-6">
          <button mat-stroked-button color="warn" class="large-button m-l-8" (click)="closeDialog()"> Annuler </button>
        </div>
      </div>

    </form>
  </mat-dialog-content>
</ng-template>
 -->


<!-- add -->
<!-- <ng-template  #dialogTemplate>
  <mat-dialog-content style="max-width: 1200px; max-height: 600px;">
     <div class="p-16 bg-light-primary rounded" style="margin-bottom: 20px;">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler
        >Ajout d'un produit
      </h5>
    </div>
    <form  #productForm="ngForm">
      <div class="row">
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Nom du Produit"
              required
              name="name"
              [(ngModel)]="productData.name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Code du Produit"
              required
              name="code"
              [(ngModel)]="productData.code"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Prix"
              required
              name="price"
              [(ngModel)]="productData.price"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unité</mat-label>
            <mat-select
              [(ngModel)]="productData.unit"
              name="unit"
              required
            >
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Catégorie</mat-label>
            <mat-select
              [(ngModel)]="productData.category"
              name="category"
              required
            >
              <mat-option *ngFor="let category of categorys" [value]="category">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Marque</mat-label>
            <mat-select
              [(ngModel)]="productData.brand"
              name="brand"
              required
            >
              <mat-option *ngFor="let brand of brands" [value]="brand">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Conditionnement</mat-label>
            <mat-select
              [(ngModel)]="productData.conditioning"
              name="conditioning"
              required
            >
              <mat-option *ngFor="let conditioning of conditionings" [value]="conditioning">
                {{ conditioning.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              matInput
              placeholder="Description"
              name="description"
              [(ngModel)]="productData.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-6">
          <button mat-flat-button color="primary" class="large-button" (click)="addProduct()" [disabled]="!productForm.valid"> Ajouter </button>
        </div>
        <div class="col-lg-6">
          <button mat-stroked-button color="warn" class="large-button m-l-8" (click)="closeDialog()"> Annuler </button>
        </div>
      </div>

    </form>
  </mat-dialog-content>
</ng-template> -->
