body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

tr {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    
}

/* Barre jaune de séparation */
.separator1 {
    height: 2px;
    background-color: rgba(129, 2, 255, 0.348);
    margin: 5px 0;
}
.separator {
    height: 10px;
    // background-color: yellow;
    margin: 20px 0;
}

/* Highlight the specific column (yellow background) */
// .highlight {
//     background-color: yellow;
// }

/* Styling for the "Insuffisant" text in red */
.insufficient {
    color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        margin-bottom: 5px;
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        font-weight: bold;
    }
}
