
<div style="text-align: center;"> <h2>Programme des plats du {{ config.data.startDate }} au {{ config.data.endDate }}</h2> </div>

<div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">

    <div>
        <p-button (onClick)="showDialog()" label="Générer feuille de course" icon="pi pi-eye" />
    </div>
</div>
<!-- Première Table : Preparation -->
 <div class="listdiv"  *ngFor="let plat of data,let k=index">
    <table>
        <thead>
            <tr>
                <th colspan="12" style="text-align: left;">{{plat?.name}} : <b><i>{{ getQuantite(plat.id) }}</i></b> plat(s) planifié(s) </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Preparation: Liste des recettes</th>
                <td>Qté initiale convertie en KG</td>
                <td>Stock avant en KG récupéré dans la recette</td>
                <td>Qté planifié = Qté initial * Qté totale planifié</td>
                <td class="highlight">Stock après = stock av - qte planifié</td>
            </tr>
            <tr  *ngFor="let composition of plat.compositionList" >
                <td>{{composition?.recipe?.name}}</td>
                <td>{{composition?.quantityKg  |  number : '.1-5'}}</td>
                <td>{{composition?.recipe?.stock  |  number : '.1-5'}}</td>
                <td>{{composition?.recipe?.qteEstimee  |  number : '.1-5'}}</td>
                <td class="highlight">{{composition?.recipe?.stockApres  |  number : '.1-5'}}</td>
            </tr>
            <!--<tr>
                <td>Ratatouille</td>
                <td>0,2</td>
                <td>70</td>
                <td>40</td>
                <td class="highlight">30</td>
            </tr>
            <tr>
                <td>Bœuf aux oignons</td>
                <td>0,3</td>
                <td>29</td>
                <td>60</td>
                <td class="highlight">-31</td>
            </tr>-->
        </tbody>
    </table>
    
    <!-- Barre jaune de séparation -->
    <div class="separator1"></div>
    
    <!-- Deuxième Table : Liste des Ingrédients -->
    <table>
        <thead>
            <tr>
                <th>Liste des Ingrédients</th>
                <th>Ingrédients: Générer une Preparation (Algo de Preparation)</th>
                <!-- <th>Stock av récupéré dans la liste des produits</th> -->
                <th>Qté planifié correspond au poids brut en KG</th>
                <th>Stock après = stock av - qte planifié</th>
                <th>Observation</th>
            </tr>
        </thead>
        <tbody *ngFor="let composition of  data2[k]?.compositionList">
            <tr *ngFor="let detail of composition.recipe.detailList, let j=index">
                <td *ngIf="j==0" [rowSpan]="composition.recipe.detailList">{{composition?.recipe?.name}}</td>
                <td>{{detail?.ingredient?.name}}</td>
                <!-- <td>{{detail?.ingredient?.stock?.quantity  |  number : '.1-3'}}</td> -->
                <td>{{detail?.brut  |  number : '.1-3'}}</td>
                <td>{{detail?.stockApres  |  number : '.1-3'}}</td>
                <td [ngClass]="{'insufficient': detail.stockApres<0}" ><span *ngIf="detail.stockApres<0" >Insuffisant</span></td>
            </tr>
            
            <!--<tr>
                <td>BEURRE</td>
                <td>5</td>
                <td>1,37</td>
                <td>3,63</td>
                <td></td>
            </tr>
            <tr>
                <td>BROCOLI</td>
                <td>1,515</td>
                <td>1,515</td>
                <td>1,515</td>
                <td class="insufficient">Insuffisant</td>
            </tr>
            <tr>
                <td>CORNICHPON</td>
                <td>0</td>
                <td>0,439</td>
                <td>-0,439</td>
                <td class="insufficient">Insuffisant</td>
            </tr>-->
        </tbody>
    
    </table>
    <div class="separator"></div>

 </div>



 <!--<div class="card flex justify-content-center" >
    <p-dialog 
        header="Détail de la feuille de course" 
        [modal]="true" 
        [(visible)]="visible" 
        [style]="{ width: '100vw', height: '100vh' }" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [maximizable]="true">

        <app-feuille-course [detailRecipeList]="listFeuille"></app-feuille-course>
        
    </p-dialog>
</div>-->
