<div style="display: flex; justify-content: space-between; align-items: center; margin: 0px 0 24px 0;">
    <div>
      <h1>PROGRAMME DES PLATS DU {{ config.data.startDate | date:'dd/MM/yyyy' }} AU {{ config.data.endDate | date:'dd/MM/yyyy' }}</h1>
    </div>
    <div>
      <p-button (onClick)="showDialog()" label="GÉNÉRER FEUILLE DE COURSE" icon="pi pi-eye"></p-button>
    </div>
  </div>
  <div class="listdiv">
    <table>
      <thead>
        <tr>
          <th colspan="12" style="text-align: center;"><b><i>LISTE DES PLATS</i></b></th>
          <td><b><i>NBRE TOTAL PLANIFIÉ</i></b></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plat of data['dishes']">
          <th colspan="12">{{ plat.dishes.name }}</th>
          <td>{{ plat.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table>
    <thead>
      <tr>
        <th colspan="12" style="text-align: center;"><i>LISTE DES RECETTES</i></th>
        <td>STOCK AVANT</td>
        <td>QTE NET PLANIFIÉE</td>
        <td class="highlight">STOCK APRÈS</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of data['recipes']">
        <th colspan="12">{{ rec.recipe.name }}</th>
        <td>{{ rec?.recipe.stock ?? 0 | number:'1.0-3' }} KG</td>
        <td>{{ rec?.quantity | number:'1.0-3' }} KG</td>
        <td class="{{ rec?.currentStock < 0 ? 'insufficient' : '' }}">
          {{ rec?.currentStock | number:'1.0-3' }} KG
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="12" style="text-align: center;"><i>LISTE DES INGRÉDIENTS</i></th>
        <td>STOCK AVANT</td>
        <td>QTE PLANIFIÉE</td>
        <td class="highlight">STOCK APRÈS</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of data['products']">
        <th colspan="12">{{ rec.product.name }}</th>
        <td>{{ rec?.initialStock ?? 0 | number:'1.0-3' }} KG</td>
        <td>{{ rec?.qtePlanifie | number:'1.0-3' }} KG</td>
        <!-- <td class="{{ rec?.currentStock < 0 ? 'insufficient' : '' }}">
          {{ rec?.currentStock | number:'1.0-3' }} KG
        </td> -->
        <td [class.insufficient]="rec?.currentStock < -0.999">
          {{ rec?.currentStock | number:'1.0-3' }} KG
        </td>
      </tr>
    </tbody>
  </table>
   
  