<div class="row">
    <div class="col-lg-8">
        <app-overall-balance></app-overall-balance>
    </div>
    <div class="col-lg-4">
        <app-return-investment></app-return-investment>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <app-total-followers></app-total-followers>
    </div>
    <div class="col-lg-4">
        <app-total-income></app-total-income>
    </div>
    <div class="col-lg-4">
        <app-current-balance></app-current-balance>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <app-marketing-report-two></app-marketing-report-two>
    </div>
    <div class="col-lg-7">
        <app-payment-methods></app-payment-methods>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-recent-projects></app-recent-projects>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <app-delivery-analytics></app-delivery-analytics>
    </div>
    <div class="col-lg-4">
        <app-earning-reports></app-earning-reports>
    </div>
</div>