<div class="dialog-container">
  <form class="grid newform" #f="ngForm" (ngSubmit)="update()">
    <div class="col-12 card p-fluid">
      <div class="grid entete">
        <div class="field col-6">
          <label for="name">RECETTE</label>
          <input pInputText id="name" [(ngModel)]="recipe.name" name="name" type="text" placeholder="Nom de la recette"
            required />
        </div>
        <!-- <div class="field col-4">
          <label for="ratio">Pourcentage de perte</label>
          <p-inputNumber mode="decimal" [minFractionDigits]="2" name="ratio" [suffix]="'%'" id="ratio"
            [(ngModel)]="recipe.ratio" [showButtons]="true" [min]="0"></p-inputNumber>
        </div> -->
        <div class="field col-6">
          <label for="baseRecipe">EST CE UNE RECETTE PRINCIPALE ?</label>
                <p-dropdown [disabled]="recipe.name==null" [(ngModel)]="base" name="baseRecipe"
                    [options]="reciss" optionLabel="name" (onChange)="openDialogProduct($event)"
                    placeholder="OUI ou NON">
                </p-dropdown>
        </div>
      </div>

      <h5 class="dialog-title">DETAILS DE LA RECETTE</h5>
      <button pButton label="Ajouter un ingrédient" type="button" [loading]="loading"
        class="p-button-primary mt-2" (click)="showAddDetailDishesForm()"></button>
        <!-- <h3 *ngIf="showAddDetailsRecipe">SAISIE D'UN DETAIL </h3> -->
        <div  *ngIf="showAddDetailsRecipe" class="cardnew mt-5">
        <form class="p-fluid">
          <div class="grid single-line">
            <!-- Produit dropdown -->
            <div class="field col">
              <label htmlFor="product{{detailRecipeProvisoire2.length-1}}">PRODUIT</label>
                  <!--<p-dropdown [options]="categorys" optionLabel="name" [(ngModel)]="category" name="categoty"  (ngModelChange)="getProductCategory(category)"></p-dropdown>-->
                  <p-dropdown [options]="products"  optionLabel="name" name="product{{detailRecipeProvisoire2.length-1}}" 
                  [(ngModel)]="detailRecipeProvisoire2[detailRecipeProvisoire2.length-1].ingredient" >
                    <ng-template let-product pFilter="product.category.name" pTemplate="item" >
                      <div class="flex align-items-center gap-2">
                        <div>{{product.name}} ({{product?.category?.name}} / {{product?.conditioning?.name}})</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
            </div>

            <!-- Proportion input -->
            <div class="field col">

              <label htmlFor="quantity{{detailRecipeProvisoire2.length-1}}">PROPORTION %</label>
              <p-inputNumber mode="decimal" [minFractionDigits]="3" suffix="'%"
              name="quantity{{detailRecipeProvisoire2.length-1}}" id="quantity{i}"
               [(ngModel)]="detailRecipeProvisoire2[detailRecipeProvisoire2.length-1].proportion"  
               (ngModelChange)="changeDetailQuantite(detailRecipeProvisoire2[detailRecipeProvisoire2.length-1].proportion,detailRecipeProvisoire2.length-1,true)" 
               [showButtons]="true" [min]="0" ></p-inputNumber>
            </div>

            <!-- Preparation textarea -->
            <div class="field col">
              <label htmlFor="preparationIngredient">PREPARATION</label>
                  <textarea rows="1" cols="30"  [autoResize]="true" name="preparationIgredient" 
                  pInputTextarea [(ngModel)]="detailRecipeProvisoire2[detailRecipeProvisoire2.length-1].preparationIngredient">
                </textarea>
            </div>

            <!-- Save Button -->
            <div class="field col-1">
              <label htmlFor="savee" class="button-label"></label>
              <button pButton  pRipple icon="pi pi-check" 
                [disabled]="detailRecipeProvisoire2[detailRecipeProvisoire2.length-1].proportion <= 0" 
                 type="button"   class="p-button-saved p-button p-component" 
                 (click)="firstSaveForDetail(detailRecipeProvisoire2[detailRecipeProvisoire2.length-1])">
                </button>
            </div>

            <!-- Reset Button -->
            <div class="field col-1">
              <label htmlFor="del" class="button-label"></label>

              <button pButton pRipple icon="pi pi-times" type="reset"  
               class="p-button-annuler p-button p-component" 
               (click)="RemoveLastDetail()"></button>
            </div>

          </div>
        </form>
      </div>




      <div class="info-table">
        <div class="info-header">
          <div class="info-header-cell">PRODUIT</div>
          <div class="info-header-cell">PROPORTION</div>
          <div class="info-header-cell">PREPARATION</div>
          <div class="info-header-cell">ACTIONS</div>
        </div>
      
        <!-- Loop to display details -->
        <div *ngFor="let detail of detailRecipe2; let i = index" class="info-row">
          <div class="info-cell">{{ detail?.ingredient?.name }}</div>
          <div class="info-cell">{{ detail.proportion * 100 }}%</div>
          <div class="info-cell">{{ detail.preparationIngredient }}</div>
          <div class="info-cell">
            <button pButton pRipple type="button" icon="pi pi-trash" style="width: 15px; height: 15px; font-size: 12px;"
              class="p-button p-component p-button-text p-button-icon-only"
              (click)="confirmDeleteDetailEdit(detail,i)"></button>
          </div>
        </div>
      
        <!-- Total Row -->
        <div class="info-row total-row">
          <div class="info-cell">TOTAL</div>
          <div class="info-cell">{{ totalProportion * 100 }}%</div>
          <div class="info-cell"></div> <!-- Empty cell for "Préparation" -->
          <div class="info-cell"></div> <!-- Empty cell for "Actions" -->
        </div>
      </div>
      

      <p class="divider"></p>
      <div class="field  col-12">
        <div class="field">
          <label htmlFor="detailCuisine">DETAILS CUISSON</label>
          <textarea rows="1" cols="30" name="detailCuisine" pInputTextarea
            [(ngModel)]="recipe.detailCuisine"></textarea>
        </div>
      </div>
      <button pButton label="ENREGISTRER" type="submit" [loading]="loading" class="p-button-vert"
        [disabled]="!f.valid"></button>
    </div>
  </form>
</div>

  <p-toast position="top-center" key="tc"></p-toast>
  <p-toast key="product"></p-toast>
  
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="positionModalConfirm" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
  <!--pour la modification d'une purchase-->
  <p-dialog *ngIf="isEditRecipeDialogVisible" header="Mise à jour de la Approvisionnement reference {{recipeClicked.code}}" [(visible)]="isEditRecipeDialogVisible"  [style]="{ width: '50vw' }">
  <form  #fUpdate="ngForm" (ngSubmit)="update()">
  <div class="card p-fluid">
    <h5>Mettre à jour</h5>
  
  
  
    <label id="erreur" *ngIf="isErrorEdit">{{erreurEdit}}</label>
    <label id="success" *ngIf="isSuccessEdit">{{sucessEdit}}</label>
  
  
    <button pButton type="submit" label="MODIFIER" class="p-button-orange" [loading]="loading" [disabled]="!fUpdate.valid" ></button>
  
  </div>
  
  </form>
  
  </p-dialog>
  <!---->
  
  <p-dialog [(visible)]="productDialog" appendTo="body" [style]="{width: '850px'}" [closable]="false" header="Enregistrement du recette de base" [modal]="true"
            class="p-fluid">
            <div class="grid">
              <form class=" newform col-12" #f="ngForm" (ngSubmit)="addProduct()">
                <div class="card p-fluid">
                  <div class="grid">
                    <div class="col-6">
                      <div class="field">
                        <label htmlFor="name">NOM</label>
                        <input pInputText id="name" [(ngModel)]="productData.name" name="name" type="text" placeholder="Nom produit" required />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="field ">
                        <label htmlFor="unit">UNITE</label>
                        <p-dropdown [options]="units" optionLabel="name" name="unit" [(ngModel)]="productData.unit"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="field ">
                        <label htmlFor="category">CATEGORIE</label>
                        <p-dropdown [options]="categorys" optionLabel="name" name="category" [(ngModel)]="productData.category"></p-dropdown>
                      </div>
                    </div>
                    <!-- <div class="col-6">
                      <div class="field ">
                        <label htmlFor="conditioning">Condition</label>
                        <p-dropdown [options]="conditionings" optionLabel="name" name="conditioning"
                          [(ngModel)]="productData.conditioning"></p-dropdown>
                      </div>
                    </div> -->
                    <div class="col-6">
                      <div class="field">
                        <label htmlFor="lostpercentage">POURCENTAGE DE PERTE</label>
                        <p-inputNumber mode="decimal" [minFractionDigits]="2" name="lostpercentage" id="lostpercentage"
                          [(ngModel)]="productData.lostpercentage" [showButtons]="true" [min]="0" [suffix]="'%'">
                        </p-inputNumber>
                      </div>
            
                    </div>
                  </div>
            
                  <!-- <p>Description</p>
                  <textarea rows="5" cols="10" [(ngModel)]="productData.description" name="description" placeholder="Description"
                    pInputTextarea></textarea> -->
            
                  <label id="erreur" *ngIf="isError">{{erreur}}</label>
                  <label id="success" *ngIf="isSuccess">{{sucess}}</label>
            
            
                  <button pButton label="ENREGISTRER" type="submit" [loading]="loading" class="p-button-orange mt-4"
                    [disabled]="!f.valid"></button>
            
                </div>
              </form>
            </div>
</p-dialog>