<mat-card class="cardWithShadow">
    <mat-card-content class="p-b-10">
        <div class="d-flex justify-content-between align-items-baseline m-b-16">
            <mat-card-title class="f-s-18 m-b-0">Payment Methods</mat-card-title>
            <div>
                <button class="custom-mdc-button" mat-button [matMenuTriggerFor]="menu">
                    <i-tabler name="dots-vertical" class="icon-20"></i-tabler>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Another action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Something else here</span>
                    </a>
                </mat-menu>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-card class="cardWithShadow payment-card">
                    <mat-card-content>
                        <div class="d-flex align-items-center justify-content-between m-b-48">
                            <h6 class="mat-subtitle-1 f-s-18 text-white lh-sm">**** 8942</h6>
                            <img src="assets/images/svgs/icon-visa.svg" alt="" class="img-fluid" />
                        </div>
                        <div>
                            <p class="mat-body-1 text-white op-75 f-s-14 f-w-500 m-b-8">Balance</p>
                            <h6 class="mat-subtitle-1 f-s-18 text-white">$26,561.50</h6>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="cardWithShadow payment-card-2 bg-light">
                    <mat-card-content>
                        <div class="d-flex align-items-center justify-content-between m-b-48">
                            <h6 class="mat-subtitle-1 f-s-18 lh-sm">**** 8942</h6>
                            <img src="assets/images/svgs/icon-master-card-1.svg" alt="" class="img-fluid" />
                        </div>
                        <div>
                            <p class="mat-body-1 f-s-14 f-w-500 m-b-8">Balance</p>
                            <h6 class="mat-subtitle-1 f-s-18">$26,561.50</h6>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between p-b-16 b-b-1">
            <h6 class="mat-subtitle-1 f-s-18">Transactions</h6>
            <a href="javascript:void(0)" class="f-w-600 text-primary text-decoration-none d-flex align-items-center">See all
                <i-tabler name="chevron-right" class="icon-18"></i-tabler>
            </a>
        </div>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="w-100 payment-methods-table">
                <!-- Profile Column -->
                <ng-container matColumnDef="product name">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14 p-12 p-l-0">
                        Product Name
                    </th>
                    <td mat-cell class="p-l-0 p-12" *matCellDef="let element">
                        <div class="d-flex align-items-center gap-16">
                            <span
                                class="bg-light icon-48 rounded-circle d-flex align-items-center justify-content-center flex-shrink-0">
                                <img [src]="element.imagePath" alt="users" />
                            </span>
                            <div>
                                <h6 class="mat-subtitle-1 f-s-16">
                                    {{ element.title }}
                                </h6>
                                <p class="mat-body-1 f-s-12 f-w-500">
                                    {{ element.subtitle }}
                                </p>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Hour Rate Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14 p-12">
                        Category
                    </th>
                    <td mat-cell class="p-12 text-right" *matCellDef="let element">
                        <span class="{{ element.bgcolor }} f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill">
                            {{ element.category | titlecase }}
                        </span>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="sales">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14 p-12">
                        Sales
                    </th>
                    <td mat-cell class="p-12 p-r-0 text-right" *matCellDef="let element">
                        <h6 class="mat-subtitle-1 f-s-16">
                            {{ element.transactions }}
                        </h6>
                        <p class="{{ element.color }} m-b-0 f-s-12 f-w-500 m-t-0 mat-body-1">{{ element.bonus }}</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>