<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center m-b-24">
      <mat-card-title class="m-b-0 f-s-18">Payments</mat-card-title>
      <div>
        <button class="custom-mdc-button" mat-button [matMenuTriggerFor]="menu">
          <i-tabler name="dots-vertical" class="icon-20"></i-tabler>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a href="javascript:void(0)"
            class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
            <span>Action</span>
          </a>
          <a href="javascript:void(0)"
            class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
            <span>Another action</span>
          </a>
          <a href="javascript:void(0)"
            class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
            <span>Something else here</span>
          </a>
        </mat-menu>
      </div>
    </div>

    <div>
      <h6 class="mat-subtitle-1 f-s-20 d-flex align-items-center gap-8">12,389 <span
          class="bg-light-error f-s-12 f-w-500 p-x-10 p-y-1 lh-sm rounded-pill text-error">-3.8%</span></h6>
      <p class="f-s-14 mat-body-1 f-w-500">Last 7 days</p>
    </div>

    <div class="m-b-20 m-r--24">
      <apx-chart [series]="paymentstwoChart.series" [chart]="paymentstwoChart.chart" [colors]="paymentstwoChart.colors"
        [dataLabels]="paymentstwoChart.dataLabels" [legend]="paymentstwoChart.legend"
        [tooltip]="paymentstwoChart.tooltip" [plotOptions]="paymentstwoChart.plotOptions" [grid]="paymentstwoChart.grid"
        [xaxis]="paymentstwoChart.xaxis" [yaxis]="paymentstwoChart.yaxis" class="rounded-bars"></apx-chart>
    </div>
    <div class="d-flex align-items-center justify-content-between m-b-8">
      <div class="d-flex align-items-center">
        <span class="circle-shape bg-primary rounded-pill m-r-8"></span>
        <p class="f-s-14 mat-body-1 f-w-500">Paypal</p>
      </div>
      <p class="f-s-14 mat-body-1 f-w-500">52%</p>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <span class="circle-shape bg-light rounded-pill m-r-8"></span>
        <p class="f-s-14 mat-body-1 f-w-500">Credit Card</p>
      </div>
      <p class="f-s-14 mat-body-1 f-w-500">48%</p>
    </div>
  </mat-card-content>
</mat-card>