<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer un Compte</title>
</head>
<body>
  <!-- <p-toast /> -->
  <div class="login-container">
    <div class="login-image-section" style="background-image: url('assets/images/logimage.jpg');">
      <!-- Image de fond ou autre contenu -->
    </div>

    <div class="login-form-section">
      <div class="form-container">
        <!-- <h3>{{ error }}</h3> -->
        <h2>Créer un Compte</h2>
        <p>Veuillez entrer vos informations personnelles pour continuer</p>

        <form id="login" #fCreate="ngForm" (ngSubmit)="addUserAccount(fCreate)">
          <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="nom">Nom :</label>
              <div class="input-container">
                <input
                  type="text"
                  name="nom"
                  id="nom"
                  placeholder="Nom"
                  required
                  [(ngModel)]="nom"
                  noWhitespace
                  #nomInput="ngModel"
                  [ngClass]="{'ng-invalid': nomInput.invalid && nomInput.touched}" />
                <div *ngIf="nomInput.invalid && nomInput.touched" class="error-message">
                  Le nom est requis et ne doit pas contenir d'espaces.
                </div>
              </div>
            </div>

            <div class="form-group" style="flex: 1;">
              <label for="prenom">Prénom :</label>
              <div class="input-container">
                <input
                  type="text"
                  name="prenom"
                  id="prenom"
                  placeholder="Prénom"
                  required
                  [(ngModel)]="prenom"
                  noWhitespace
                  #prenomInput="ngModel"
                  [ngClass]="{'ng-invalid': prenomInput.invalid && prenomInput.touched}" />
                <div *ngIf="prenomInput.invalid && prenomInput.touched" class="error-message">
                  Le prénom est requis et ne doit pas contenir d'espaces.
                </div>
              </div>
            </div>
          </div>

          <!-- Section Email -->
          <div class="form-group">
            <label for="email">Email :</label>
            <div class="input-container">
              <input
                type="text"
                name="login"
                id="login"
                placeholder="Email"
                required
                [(ngModel)]="login"
                noWhitespace
                #emailInput="ngModel"
                [ngClass]="{'ng-invalid': emailInput.invalid && emailInput.touched}" />
              <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
                Un email valide est requise et ne doit pas contenir d'espaces.
              </div>
            </div>
          </div>
          <!-- Section Mot de Passe -->
          <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="password">Mot de passe :</label>
              <div class="input-container password-container">
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Mot de passe"
                  required
                  [(ngModel)]="password"
                  noWhitespace
                  #passwordInput="ngModel"
                  [ngClass]="{'ng-invalid': passwordInput.invalid && passwordInput.touched}" />
                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
                  Le mot de passe est requis.
                </div>
                <small style="color: red; margin-top: 5px;">{{ errorMessage }}</small>
              </div>
            </div>
            <div class="form-group" style="flex: 1;">
              <label for="password">Confirmation de mot de passe :</label>
              <div class="input-container password-container">
                <input
                  type="password"
                  name="confirmation"
                  id="confirmation"
                  placeholder="confirmation"
                  required
                  [(ngModel)]="confirmation"
                  noWhitespace
                  #confirmationInput="ngModel"
                  [ngClass]="{'ng-invalid': confirmationInput.invalid && confirmationInput.touched}" />
                <div *ngIf="confirmationInput.invalid && confirmationInput.touched" class="error-message">
                  La confirmation de mot de passe est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>
          </div>


          <!-- Section localisation -->
          <!-- <div class="information">
            <div class="form-group">
              <label for="user-role">Pays :</label>
              <div class="input-container">
                <select
                name="user-role"
                id="user-role"
                [(ngModel)]="country"
                required
                #paysInput="ngModel"
                [ngClass]="{'ng-invalid': paysInput.invalid && paysInput.touched}">
                <option value="" disabled selected>Choisissez le Pays</option>
                <option *ngFor="let pay of pays" [ngValue]="pay">
                  {{ pay.name }}
                </option>
              </select>
                <div *ngIf="paysInput.invalid && paysInput.touched" class="error-message">
                  Le pays est requis.
                </div>
              </div>
            </div>
            <div class="form-group" style="flex: 1;">
              <label for="password">Ville :</label>
              <div class="input-container password-container">
                <input
                  type="text"
                  name="adresse"
                  id="adresse"
                  placeholder="adresse"
                  required
                  [(ngModel)]="adresse"
                  noWhitespace
                  #adresseInput="ngModel"
                  [ngClass]="{'ng-invalid': adresseInput.invalid && adresseInput.touched}" />
                <div *ngIf="adresseInput.invalid && adresseInput.touched" class="error-message">
                  La ville est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>
          </div> -->

          <!-- <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="password">Numero Rue :</label>
              <div class="input-container password-container">
                <input
                  type="text"
                  name="adresse"
                  id="adresse"
                  placeholder="mumero de la rue"
                  required
                  [(ngModel)]="adresse"
                  noWhitespace
                  #adresseInput="ngModel"
                  [ngClass]="{'ng-invalid': adresseInput.invalid && adresseInput.touched}" />
                <div *ngIf="adresseInput.invalid && adresseInput.touched" class="error-message">
                  La numero de la rue est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>

            <div class="form-group" style="flex: 1;">
              <label for="password">Nom Rue :</label>
              <div class="input-container password-container">
                <input
                  type="text"
                  name="adresse"
                  id="adresse"
                  placeholder="nom de la rue"
                  required
                  [(ngModel)]="adresse"
                  noWhitespace
                  #adresseInput="ngModel"
                  [ngClass]="{'ng-invalid': adresseInput.invalid && adresseInput.touched}" />
                <div *ngIf="adresseInput.invalid && adresseInput.touched" class="error-message">
                  Le nom de la rue est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>
          </div> -->
          <!-- Section Type de Compte -->
          <div class="form-group">
            <p-dropdown
            required="true"
            [options]="typeAccounts"
            name="countries"
            [style]="{ width: '100%' }"
            [(ngModel)]="typeCompte"
            optionLabel="libelle"
            [filter]="true"
            filterBy="libelle"
            [showClear]="true"
            placeholder="Selectionnez un type de compte">
                <ng-template pTemplate="selectedItem" let-selectedOption>
                    <div class="flex align-items-center gap-2">
                        <div>{{ selectedOption.libelle }}</div>
                    </div>
                </ng-template>
                <ng-template let-homeee pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <div>{{ homeee.libelle }}</div>
                    </div>
                </ng-template>
        </p-dropdown>
          </div>

          <div class="form-group">
            <div class="dropdown-with-button">

              <p-dropdown
                  required="true"
                  [options]="adresse"
                  name="countries"
                  [style]="{ width: '100%' }"
                  [(ngModel)]="addressesSelected"
                  optionLabel="label"
                  [filter]="true"
                  filterBy="label"
                  [showClear]="true"
                  placeholder="Selectionnez votre adresse">
                      <ng-template pTemplate="selectedItem" let-selectedOption>
                          <div class="flex align-items-center gap-2">
                              <div>{{ selectedOption.country.name }},{{ selectedOption.city }}, {{ selectedOption.label }}, {{ selectedOption.streetName }}</div>
                          </div>
                      </ng-template>
                      <ng-template let-homeee pTemplate="item">
                          <div class="flex align-items-center gap-2">
                              <div>{{ homeee.country.name }}, {{ homeee.city}}, {{ homeee.label}}, {{ homeee.streetName}}</div>
                          </div>
                      </ng-template>
              </p-dropdown>
              <button type="button" (click)="addNewAddress()" class="btn-dropdown-action">+</button>
            </div>
          </div>


          <div class="remember">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Accepter les termes et conditions</label>
          </div>

          <!-- Bouton de Soumission -->
          <div class="form-group">
            <button type="submit" [disabled]="!fCreate.valid" class="btn-login">Créer un compte</button>
          </div>
        </form>

        <div class="err_msg mt-3">
          <p class="text-danger">
            <small id="username-help">Vous avez déjà un compte ? <a href="#" [routerLink]="['/login']" style="color: red;" class="forgot-password"> Connexion </a></small>
          </p>
        </div>
      </div>
    </div>
  </div>





  <p-dialog header="Enregistrement d'adresse" [modal]="true" [(visible)]="visibleAdd"
  [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="col-12">
      <div class="top">
        <form #fCreate="ngForm" (ngSubmit)="save()">
          <div class="col-12 grid form-grid">
            <!-- Ligne 1 -->
            <div class="field col-6">
              <label htmlFor="country">Pays</label>
              <p-dropdown
                id="dropdown"
                [(ngModel)]="countrySelect"
                name="countrySelect"
                [options]="pays"
                optionLabel="name"
                placeholder="Sélectionner votre pays"
                [style]="{ width: '100%' }"
                required
            ></p-dropdown>

            </div>

            <div class="field col-6">
              <label htmlFor="label">Label</label>
              <input pInputText
                id="label"
                [(ngModel)]="label"
                name="label"
                type="text"
                placeholder="Label de l'adresse"
                required
                #labelInput="ngModel"
                [ngClass]="{'ng-invalid': labelInput.invalid && labelInput.touched}" />
              <div *ngIf="labelInput.invalid && labelInput.touched" class="error-message">
                Le label est requis.
              </div>
            </div>

            <!-- Ligne 2 -->
            <div class="field col-6">
              <label htmlFor="city">Ville</label>
              <input pInputText
                id="city"
                [(ngModel)]="city"
                name="city"
                type="text"
                placeholder="Ville"
                required
                #cityInput="ngModel"
                [ngClass]="{'ng-invalid': cityInput.invalid && cityInput.touched}" />
              <div *ngIf="cityInput.invalid && cityInput.touched" class="error-message">
                La ville est requise.
              </div>
            </div>

            <!-- Ligne 3 -->
            <div class="field col-6">
              <label htmlFor="streetName">Rue</label>
              <input pInputText
                id="streetName"
                [(ngModel)]="streetName"
                name="streetName"
                type="text"
                placeholder="Nom de la rue"
                required
                #streetNameInput="ngModel"
                [ngClass]="{'ng-invalid': streetNameInput.invalid && streetNameInput.touched}" />
              <div *ngIf="streetNameInput.invalid && streetNameInput.touched" class="error-message">
                Le nom de la rue est requis.
              </div>
            </div>

            <!-- Ligne 4 -->
            <div class="field col-6">
              <label htmlFor="geolocalisation">Geolocalisation</label>
              <input pInputText
                id="geolocalisation"
                [(ngModel)]="geolocation"
                name="geolocalisation"
                type="text"
                placeholder="Geolocalisation"
                required
                #geolocationInput="ngModel"
                [ngClass]="{'ng-invalid': geolocationInput.invalid && geolocationInput.touched}" />
              <div *ngIf="geolocationInput.invalid && geolocationInput.touched" class="error-message">
                La géolocalisation est requise.
              </div>
            </div>
            <div class="field col-6">
              <label htmlFor="streetNumber">Numéro de rue</label>
              <p-inputNumber
                name="streetNumber"
                [style]="{ width: '100%' }"
                id="streetNumber"
                [(ngModel)]="streetNumber"
                [showButtons]="true"
                [min]="0"
                required
                #streetNumberInput="ngModel"
                [ngClass]="{'ng-invalid': streetNumberInput.invalid && streetNumberInput.touched}"
              ></p-inputNumber>
              <div *ngIf="streetNumberInput.invalid && streetNumberInput.touched" class="error-message">
                Le numéro de rue est requis.
              </div>
            </div>

            <!-- Ligne 5 -->
            <div class="field col-6">
              <label htmlFor="longitude">Longitude</label>
              <p-inputNumber
                name="longitude"
                [style]="{ width: '100%' }"
                id="longitude"
                [(ngModel)]="longitude"
                [showButtons]="true"
                [min]="0"
                required
                #longitudeInput="ngModel"
                [ngClass]="{'ng-invalid': longitudeInput.invalid && longitudeInput.touched}"
              ></p-inputNumber>
              <div *ngIf="longitudeInput.invalid && longitudeInput.touched" class="error-message">
                La longitude est requise.
              </div>
            </div>
            <div class="field col-6">
              <label htmlFor="latitude">Latitude</label>
              <p-inputNumber
                name="latitude"
                [style]="{ width: '100%' }"
                id="latitude"
                [(ngModel)]="latitude"
                [showButtons]="true"
                [min]="0"
                required
                #latitudeInput="ngModel"
                [ngClass]="{'ng-invalid': latitudeInput.invalid && latitudeInput.touched}"
              ></p-inputNumber>
              <div *ngIf="latitudeInput.invalid && latitudeInput.touched" class="error-message">
                La latitude est requise.
              </div>
            </div>
          </div>

          <div style="margin-top: 20px;" class="form-group">
            <button type="submit" class="btn-login" >Enregistrer votre Adresse</button>
          </div>
        </form>
      </div>
    </div>
  </p-dialog>


<p-toast position="top-center" key="tc"></p-toast>
<p-toast></p-toast>
</body>
</html>
