<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-container">
    <div class="login-image-section" style="background-image: url('assets/images/logimage.jpg');">
      <!-- Image de fond ou autre contenu -->
    </div>

    <div class="login-form-section">
      <div class="form-container">
        <h2>Create Account</h2>
        <p>Please enter your personnal information to continue</p>

        <form id="login">
          <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="nom">Nom:</label>
              <div class="input-container">
                <input type="text" name="nom" id="nom" placeholder="Nom" required />
              </div>
            </div>

            <div class="form-group" style="flex: 1;">
              <label for="prenom">Prenom:</label>
              <div class="input-container">
                <input type="text" name="prenom" id="prenom" placeholder="Prenom" required />
              </div>
            </div>
          </div>


          <!-- Email Section -->
          <div class="form-group">
            <label for="email">Email address:</label>
            <div class="input-container">
              <input type="email" name="login" id="email" placeholder="Adresse email" required />
            </div>
          </div>

          <!-- Password Section -->
          <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-container password-container">
              <input type="password" name="password" id="password" placeholder="Mot de passe" required />
              <span class="toggle-password" onclick="togglePasswordVisibility()">👁</span>
            </div>
          </div>

          <!-- Select List Section -->
          <div class="form-group">
            <label for="user-role">Type de compte:</label>
            <div class="input-container">
              <select name="user-role" id="user-role" required>
                <option value="" disabled selected>Choisissez un type de compte</option>
                <option value="admin">Compte Standard</option>
                <option value="editor">Compte Bussiness</option>
                <option value="viewer">Compte Restaurant</option>
              </select>
            </div>
          </div>

          <div class="remember">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Agree to terms and conditions</label>
          </div>

          <!-- Submit Button -->
          <div class="form-group">
            <button type="submit" [routerLink]="['/home']" class="btn-login">Create account</button>
          </div>
        </form>

        <div class="err_msg mt-3">
          <p class="text-danger">
            <small id="username-help">Already have account ? <a href="#" style="color: red;" class="forgot-password"> Login </a></small>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
