<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créer un Compte</title>
</head>
<body>
  <!-- <p-toast /> -->
  <div class="login-container">
    <div class="login-image-section" style="background-image: url('assets/images/logimage.jpg');">
      <!-- Image de fond ou autre contenu -->
    </div>

    <div class="login-form-section">
      <div class="form-container">
        <!-- <h3>{{ error }}</h3> -->
        <h2>Créer un Compte</h2>
        <p>Veuillez entrer vos informations personnelles pour continuer</p>

        <form id="login" #fCreate="ngForm" (ngSubmit)="addUserAccount(fCreate)">
          <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="nom">Nom :</label>
              <div class="input-container">
                <input
                  type="text"
                  name="nom"
                  id="nom"
                  placeholder="Nom"
                  required
                  [(ngModel)]="nom"
                  noWhitespace
                  #nomInput="ngModel"
                  [ngClass]="{'ng-invalid': nomInput.invalid && nomInput.touched}" />
                <div *ngIf="nomInput.invalid && nomInput.touched" class="error-message">
                  Le nom est requis et ne doit pas contenir d'espaces.
                </div>
              </div>
            </div>

            <div class="form-group" style="flex: 1;">
              <label for="prenom">Prénom :</label>
              <div class="input-container">
                <input
                  type="text"
                  name="prenom"
                  id="prenom"
                  placeholder="Prénom"
                  required
                  [(ngModel)]="prenom"
                  noWhitespace
                  #prenomInput="ngModel"
                  [ngClass]="{'ng-invalid': prenomInput.invalid && prenomInput.touched}" />
                <div *ngIf="prenomInput.invalid && prenomInput.touched" class="error-message">
                  Le prénom est requis et ne doit pas contenir d'espaces.
                </div>
              </div>
            </div>
          </div>

          <!-- Section Email -->
          <div class="form-group">
            <label for="email">Email :</label>
            <div class="input-container">
              <input
                type="text"
                name="login"
                id="login"
                placeholder="Email"
                required
                [(ngModel)]="login"
                noWhitespace
                #emailInput="ngModel"
                [ngClass]="{'ng-invalid': emailInput.invalid && emailInput.touched}" />
              <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
                Un email valide est requise et ne doit pas contenir d'espaces.
              </div>
            </div>
          </div>
          <!-- Section Mot de Passe -->
          <div class="information">
            <div class="form-group" style="flex: 1;">
              <label for="password">Mot de passe :</label>
              <div class="input-container password-container">
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Mot de passe"
                  required
                  [(ngModel)]="password"
                  noWhitespace
                  #passwordInput="ngModel"
                  [ngClass]="{'ng-invalid': passwordInput.invalid && passwordInput.touched}" />
                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
                  Le mot de passe est requis.
                </div>
                <small style="color: red; margin-top: 5px;">{{ errorMessage }}</small>
              </div>
            </div>
            <!-- confirmation de mot de passe -->
            <div class="form-group" style="flex: 1;">
              <label for="password">Confirmation de mot de passe :</label>
              <div class="input-container password-container">
                <input
                  type="password"
                  name="confirmation"
                  id="confirmation"
                  placeholder="confirmation"
                  required
                  [(ngModel)]="confirmation"
                  noWhitespace
                  #confirmationInput="ngModel"
                  [ngClass]="{'ng-invalid': confirmationInput.invalid && confirmationInput.touched}" />
                <div *ngIf="confirmationInput.invalid && confirmationInput.touched" class="error-message">
                  La confirmation de mot de passe est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>
          </div>

          <!-- Section localisation -->
          <div class="information">
            <div class="form-group">
              <label for="user-role">Pays :</label>
              <div class="input-container">
                <select
                name="user-role"
                id="user-role"
                [(ngModel)]="country"
                required
                #paysInput="ngModel"
                [ngClass]="{'ng-invalid': paysInput.invalid && paysInput.touched}">
                <option value="" disabled selected>Choisissez le Pays</option>
                <option *ngFor="let pay of pays" [ngValue]="pay">
                  {{ pay.name }}
                </option>
              </select>
                <div *ngIf="paysInput.invalid && paysInput.touched" class="error-message">
                  Le pays est requis.
                </div>
              </div>
            </div>
            <!-- confirmation de mot de passe -->
            <div class="form-group" style="flex: 1;">
              <label for="password">Adresse :</label>
              <div class="input-container password-container">
                <input
                  type="text"
                  name="adresse"
                  id="adresse"
                  placeholder="adresse"
                  required
                  [(ngModel)]="adresse"
                  noWhitespace
                  #adresseInput="ngModel"
                  [ngClass]="{'ng-invalid': adresseInput.invalid && adresseInput.touched}" />
                <div *ngIf="adresseInput.invalid && adresseInput.touched" class="error-message">
                  L'adresse est requis.
                </div>
                <small style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</small>
              </div>
            </div>
          </div>
          <!-- Section Type de Compte -->
          <div class="form-group">
            <label for="user-role">Type de compte :</label>
            <div class="input-container">
              <select
                name="user-role"
                id="user-role"
                [(ngModel)]="typeCompte"
                required
                #typeCompteInput="ngModel"
                [ngClass]="{'ng-invalid': typeCompteInput.invalid && typeCompteInput.touched}">
                <option value="" disabled selected>Choisissez le type de compte</option>

                <!-- Liez l'objet de compte complet, pas seulement l'ID -->
                <option *ngFor="let account of typeAccounts" [ngValue]="account">
                  {{ account.libelle }}
                </option>
              </select>
              <div *ngIf="typeCompteInput.invalid && typeCompteInput.touched" class="error-message">
                Le type de compte est requis.
              </div>
            </div>
          </div>

          <div class="remember">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Accepter les termes et conditions</label>
          </div>

          <!-- Bouton de Soumission -->
          <div class="form-group">
            <button type="submit" [disabled]="!fCreate.valid" class="btn-login">Créer un compte</button>
          </div>
        </form>

        <div class="err_msg mt-3">
          <p class="text-danger">
            <small id="username-help">Vous avez déjà un compte ? <a href="#" [routerLink]="['/login']" style="color: red;" class="forgot-password"> Connexion </a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
