<div class="loader " *ngIf="loadingPage">
    <div class="card flex  justify-content-center">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </div>
  </div>
  <p-toast position="top-center" key="tc"></p-toast>
  
  
  <div class="content"  >
    <div class="firstrow">
      <!--<div class="bighead head"><label for="">Préparationn de Recette</label></div>-->
      <!--Formulaire-->
        <div class="formpart">
          <form class="p-fluid colo">
            <div class="grid">
              <div  class="row ml-2">
                <label for="" class="font-bold mb-1" >Préparation de Recette</label>
              </div>
              <div class="row grid">
                <div class=" plat col-4">
                  <p-dropdown [options]="recettes" [(ngModel)]="recetteSelectione" name="plat" optionLabel="name" [filter]="true" filterBy="name" (ngModelChange)="changePlat()" placeholder="Selectionnez une recette">
                  </p-dropdown>
                </div>
  
                <div class=" poid col-2 gap-1 ml-2 mr-2">
                  <!-- <span class="ml-2 m-auto font-bold"> Kg</span> -->
                  <p-inputNumber pTooltip="Quantité à préparer" tooltipPosition="top"class="number" mode="decimal" [minFractionDigits]="2" name="poidnet" id="poidnet" [(ngModel)]="recetteSelectione.net" (ngModelChange)="changePlat()" [showButtons]="true" [min]="0.0"  ></p-inputNumber>
                  <!-- [inputStyle]="{background: '#3b81f6',color:'#fff'}" -->
                </div>
  
  
  
                <!-- <div class=" btn-generate col-1">
                  <button pButton icon="pi pi-file-pdf" pTooltip="Cliquer pour generer le pdf" tooltipPosition="top" class="btn" [disabled]="!recetteSelectione.name" (click)="generate()"></button>
                </div> -->
  
  
  
                <!--<p-divider class=" col barhorizon p-divider-solid w-5" layout="vertical"></p-divider>-->
  
                <div class=" grid detailPlat  ml-2 col-5">
                  <div class="poid  divgray">
                    <label for="poit" >Poid Brut(KG): {{recetteSelectione.brut| number: '1.0-3' }}</label>
                  </div>
  
                  <div class="cout  divgray">
                    <label for="cout" >Coût Total( {{ usercurrency }} ): <span appPriceFormater >{{ recetteSelectione.cout | number: '1.2-2' }} </span> </label>
                  </div>
                </div>
              </div>
  
            </div>
          </form>
        </div>
      <!---->
    </div>
    <div class="secaindrow" #invoice id="invoice">
  
      <div class="genarating d-none" >
        <div  class="head-no-border head-center">
          <label for="head">Détails des Ingrédients Pour la recette: {{recetteSelectione.name}}</label>
        </div>
  
        <p >Pour la preparation de {{recetteSelectione.net| number: '1.0-3' }}Kg de poid net qui equivaut à {{recetteSelectione.brut| number: '1.0-3' }}Kg poid brut.</p>
        <p  >Cout: {{recetteSelectione.cout| number: '1.0-2' }} {{ usercurrency }}.</p>
  
      </div>
  
  
      <div class="ingredients">
        <!--<div class="head-no-border head-center">
          <label for="head">Détails des Ingrédients</label>
        </div>-->

        <div class="info-table">
          <div class="info-header">
            <div class="info-header-cell">Nom Ingrédient</div>
            <div class="info-header-cell">Poid Net(KG)</div>
            <div class="info-header-cell">Poid Brut(KG)</div>
            <!-- <div class="info-header-cell">Préparation</div> -->
            <div class="info-header-cell">Coût</div>
            <div class="info-header-cell">Quantité Produit en Stock</div>
          </div>

          <!-- Loop to display details -->
          <div *ngFor="let detail of detailsDishes,let i=index" class="info-row">
            <div class="info-cell">{{detail?.ingredient?.name}}</div>
            <div class="info-cell">{{detail?.net| number: '1.0-3' }} {{detail?.ingredient?.unit?.code}}</div>
            <div class="info-cell">{{detail?.brut | number: '1.0-3' }}  {{detail?.ingredient?.unit?.code}}</div>
            <!-- <div class="info-cell">{{detail?.preparationIngredient }}</div> -->
            <div class="info-cell">{{detail?.cout| number: '1.0-2' }} {{ usercurrency }} </div>
            <div class="info-cell">{{detail?.recipe?.stock }} </div>
            <div class="nodetail m-2 head-center" *ngIf="!recetteSelectione.name">
              <label for="">
                Aucun ingrédients
              </label>
            </div>
          </div>
        </div>
        
      </div>
      <!--Detail cuisine-->
      <div class="mini-head head-center mt-4">
        <label for="head">Détails Cuisine</label>
      </div>
  
      <div class="detailscontenu">
        <label *ngIf="!recetteSelectione.detailCuisine" for="detailscontenu">
         Pas de details cuisine
        </label>
  
        <label *ngIf="recetteSelectione.detailCuisine" for="detailscontenu">
          {{recetteSelectione.detailCuisine}}
        </label>
  
      </div>
    </div>
    <button pButton type="submit" label="Enregistrer" class="p-button-orange"  [disabled]="!recetteSelectione.net || recetteSelectione.net<=0" (click)="savePreparation()"></button>
  
  </div>
  