<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex align-items-baseline justify-content-between m-b-8">
            <mat-card-title class="f-s-18">Sales Profit</mat-card-title>
            <div class="theme-tab">
                <ul class="mat-mdc-tab-header list-unstyled m-0 d-flex align-items-center">
                    <li><a [ngClass]="tabtitle==='profit' ? 'active-class' : ''" class="mat-mdc-tab f-s-12 p-y-10"
                            href="javascript:void(0)" (click)="handleTab('profit')">Profit</a></li>
                    <li><a [ngClass]="tabtitle!=='profit'? 'active-class' : ''" class="mat-mdc-tab f-s-12 p-y-10"
                            href="javascript:void(0)" (click)="handleTab('expenses')">Expenses</a></li>
                </ul>
            </div>
        </div>

        @if (tabtitle==="profit") {
        <div class="m-b-30">
            <apx-chart [series]="salesprofitChart.series" [dataLabels]="salesprofitChart.dataLabels"
                [chart]="salesprofitChart.chart" [legend]="salesprofitChart.legend" [colors]="salesprofitChart.colors"
                [grid]="salesprofitChart.grid" [fill]="salesprofitChart.fill" [stroke]="salesprofitChart.stroke"
                [tooltip]="salesprofitChart.tooltip" [markers]="salesprofitChart.markers"
                [xaxis]="salesprofitChart.xaxis" [responsive]="salesprofitChart.responsive"
                [yaxis]="salesprofitChart.yaxis"></apx-chart>
        </div>
        <div class="d-md-flex align-items-center justify-content-between">
            <div class="d-md-flex align-items-center gap-30">
                <div class="d-flex align-items-center gap-12 m-b-16 mb-md-0">
                    <div
                        class="bg-light-primary rounded-circle-shape p-x-16 p-y-8 rounded-pill d-flex align-items-center justify-content-center">
                        <i class="iconify f-s-24 text-primary" data-icon="solar:checklist-minimalistic-line-duotone"></i>
                    </div>
                    <div>
                        <h6 class="mat-subtitle-1 f-s-16">$63,489.50 <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success">+8%</span></h6>
                        <p class="f-s-14 mat-body-1 f-w-500">Profit this year</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-12 m-b-16 mb-md-0">
                    <div
                        class="bg-light rounded-circle-shape p-x-16 p-y-8 rounded-pill d-flex align-items-center justify-content-center">
                        <i class="iconify f-s-24 text-muted" data-icon="solar:dollar-minimalistic-line-duotone"></i>
                    </div>
                    <div>
                        <h6 class="mat-subtitle-1 f-s-16">$38,496.00</h6>
                        <p class="f-s-14 mat-body-1 f-w-500">Profit last year</p>
                    </div>
                </div>
            </div>
            <button class="p-x-48" mat-flat-button color="primary">
                View Details
            </button>
        </div>

        } @else {
        <apx-chart [series]="expensesChart.series" [dataLabels]="expensesChart.dataLabels" [chart]="expensesChart.chart"
            [legend]="expensesChart.legend" [colors]="expensesChart.colors" [grid]="expensesChart.grid"
            [fill]="expensesChart.fill" [stroke]="expensesChart.stroke" [tooltip]="expensesChart.tooltip"
            [markers]="expensesChart.markers" [xaxis]="expensesChart.xaxis" [responsive]="expensesChart.responsive"
            [yaxis]="expensesChart.yaxis" [plotOptions]="expensesChart.plotOptions"
            [responsive]="expensesChart.responsive"></apx-chart>
        }
    </mat-card-content>
</mat-card>