<mat-card class="cardWithShadow">
    <mat-card-content class="p-b-0">
        <div class="d-flex align-items-center justify-content-between m-b-24">
            <div>
                <mat-card-title class="m-b-4">Upcoming Schedules</mat-card-title>
                <mat-card-subtitle class="mat-mdc-card-subtitle">Our corporate events</mat-card-subtitle>
            </div>

            <div>
                <button class="custom-mdc-button" mat-button [matMenuTriggerFor]="menu">
                    <i-tabler name="dots-vertical" class="icon-20"></i-tabler>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Another action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Something else here</span>
                    </a>
                </mat-menu>
            </div>
        </div>
    </mat-card-content>
    <mat-tab-group class="theme-tab">
        <mat-tab label="All"> 
            <ng-scrollbar class="upcoming-schedules position-relative m-b-8" style="height: 400px;">
                <div class="p-x-24">
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-warning d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:scooter-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Scooter Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-456201</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">All</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-primary d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Bus Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#9002-125423</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">All</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Sicily, Italy</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Hektor Container Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Tallin, EST</h6>
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-accent d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Tram Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-780652</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Lester, United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Laxmi Empire Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Mumbai, India</h6>
                        </div>
                    </div>
                </div>
            </ng-scrollbar>    
        </mat-tab>
        <mat-tab label="Delivered">
            <ng-scrollbar class="upcoming-schedules position-relative m-b-8" style="height: 400px;">
                <div class="p-x-24">
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-warning d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:scooter-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Scooter Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-456201</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-primary d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Bus Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#9002-125423</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Sicily, Italy</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Hektor Container Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Tallin, EST</h6>
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-accent d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Tram Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-780652</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Lester, United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Laxmi Empire Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Mumbai, India</h6>
                        </div>
                    </div>
                </div>
            </ng-scrollbar>
        </mat-tab>
        <mat-tab label="Shipping">
            <ng-scrollbar class="upcoming-schedules position-relative m-b-8" style="height: 400px;">
                <div class="p-x-24">
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-accent d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Tram Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-780652</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Lester, United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-accent" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Laxmi Empire Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Mumbai, India</h6>
                        </div>
                    </div>
                    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-warning d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:scooter-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Scooter Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#1245-456201</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-warning" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Drainage</p>
                            <h6 class="mat-subtitle-1 f-s-14">United Kingdom</h6>
                        </div>
                    </div>
    
                    <div class="d-flex align-items-center gap-16 m-t-16">
                        <div class="icon-40 rounded-7 bg-primary d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-white" data-icon="solar:bus-line-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Bus Freight</p>
                            <h6 class="mat-subtitle-1 f-s-14">#9002-125423</h6>
                        </div>
                        <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success m-l-auto">Delivered</span>
                    </div>
                    <div class="d-flex align-items-center gap-16 after-line m-t-16 position-relative">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:soundwave-circle-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Messina Harbor</p>
                            <h6 class="mat-subtitle-1 f-s-14">Sicily, Italy</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-16 m-t-16 b-b-1 p-b-24">
                        <div class="icon-40 b-1 rounded-circle d-flex align-items-center justify-content-center">
                            <i class="iconify f-s-24 text-primary" data-icon="solar:map-point-bold-duotone"></i>
                        </div>
                        <div>
                            <p class="f-s-14 mat-body-1 f-w-500">Hektor Container Hotel</p>
                            <h6 class="mat-subtitle-1 f-s-14">Tallin, EST</h6>
                        </div>
                    </div>
                </div>
            </ng-scrollbar>
        </mat-tab>
    </mat-tab-group>
</mat-card>