<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-baseline">
            <div>
                <mat-card-title class="m-b-4 f-s-16">Customers</mat-card-title>
                <mat-card-subtitle>Last 7 days</mat-card-subtitle>
            </div>
            <div>
                <mat-card-title class="m-b-4 f-s-16 text-right">6,380</mat-card-title>
                <span class="bg-light-success f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill text-success">+26.5%</span>
            </div>
        </div>

        <!-- chart -->
        <div class="p-y-12 m-y-24">
            <apx-chart [series]="customersChart.series" [chart]="customersChart.chart" [stroke]="customersChart.stroke"
                [markers]="customersChart.markers" [tooltip]="customersChart.tooltip"></apx-chart>
        </div>
        <div class="d-flex align-items-center justify-content-between m-b-8">
            <div class="d-flex align-items-center">
                <span class="circle-shape bg-primary rounded-pill m-r-8"></span>
                <p class="f-s-14 mat-body-1 f-w-500">Apr 07 - Apr 14</p>
            </div>
            <p class="f-s-14 mat-body-1 f-w-500">6,380</p>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="circle-shape bg-light rounded-pill m-r-8"></span>
                <p class="f-s-14 mat-body-1 f-w-500">Last Week</p>
            </div>
            <p class="f-s-14 mat-body-1 f-w-500">4,298</p>
        </div>
    </mat-card-content>
</mat-card>