<div class="dialog-container p-4 bg-white rounded-xl shadow-lg space-y-8">
  
  <!-- Titre Principal -->
  <!-- <div>
    <h3 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
      <i class="pi pi-info-circle text-blue-500"></i> DETAILS 
    </h3>
  </div> -->

  <!-- Informations principales -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="p-4 border rounded-lg shadow-sm bg-gray-50">
      <h4 class="text-sm text-gray-500"><i class="pi pi-info-circle text-blue-500"></i></h4>
    </div>
    <div class="p-4 border rounded-lg shadow-sm bg-gray-50">
      <h4 class="text-sm text-gray-500">PLAT</h4>
      <p class="text-lg font-semibold text-gray-800">
        {{ plat.name }}
      </p>
    </div>
    <div class="p-4 border rounded-lg shadow-sm bg-gray-50">
      <h4 class="text-sm text-gray-500">CATEGORIE</h4>
      <p class="text-lg font-semibold text-gray-800">
        {{ plat.categoryMenu.name }}
      </p>
    </div>

    <div class="p-4 border rounded-lg shadow-sm bg-gray-50">
      <h4 class="text-sm text-gray-500">COUT TOTAL</h4>
      <p class="text-lg font-semibold text-gray-800">
        {{ plat.cout | number: '1.0-3':'fr-FR' }} {{ usercurrency }}
      </p>
    </div>

    <div class="p-4 border rounded-lg shadow-sm bg-gray-50">
      <h4 class="text-sm text-gray-500">POIDS TOTAL</h4>
      <p class="text-lg font-semibold text-gray-800">
        {{ plat.poids | number: '1.0-3' }} KG
      </p>
    </div>
  </div>

  <!-- Composition -->
  <div>
    <h3 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
      <i class="pi pi-list text-green-500"></i> COMPOSITION
    </h3>
    <div class="overflow-x-auto mt-4">
      <table class="min-w-full table-auto border-collapse rounded-lg overflow-hidden">
        <thead class="bg-green-100 text-gray-700">
          <tr>
            <th class="px-4 py-2 text-left">RECETTE</th>
            <th class="px-4 py-2 text-left">QUANTITE</th>
            <th class="px-4 py-2 text-left">COUT</th>
            <th class="px-4 py-2 text-left">STOCK</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of compositionDishes" class="border-b hover:bg-gray-50">
            <td class="px-4 py-2">{{ detail?.recipe?.name }}</td>
            <td class="px-4 py-2">{{ detail?.quantity | number: '1.0-3' }} KG</td>
            <td class="px-4 py-2">{{ detail?.cout | number: '1.0-3':'fr-FR' }} {{ usercurrency }}</td>
            <td class="px-4 py-2">{{ detail?.recipe?.stock | number: '1.0-3'}} KG</td>
          </tr>
          <tr *ngIf="compositionDishes.length == 0">
            <td colspan="4" class="text-center text-gray-500 py-4">Aucune recette</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Images -->
  <div>
    <h3 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
      <i class="pi pi-image text-purple-500"></i> IMAGES DU PLAT
    </h3>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-4">
      <div *ngFor="let picture of picturesDishes" class="text-center cursor-pointer" (click)="showImage(picture, $event)">
        <img class="w-24 h-24 rounded-lg shadow-md object-cover mx-auto" 
             [src]="'data:image/jpeg;base64,' + picture.file" 
             alt="{{ picture?.label }}">
        <p class="text-sm text-gray-600 mt-2">{{ picture?.label }}</p>
      </div>

      <div *ngIf="picturesDishes.length == 0" class="text-gray-500 col-span-full text-center">
        Aucune image
      </div>
    </div>
  </div>
</div>
