<div class="">
    <div class="card">
        <h5>Simulation liste</h5>
        <!--<button pButton type="button" label="Ajouter une adresse"  class="p-button-orange mb-2" (click)="showAdressAddForm()" ></button>-->

        <p-table #dt2 [value]="simulationList"  responsiveLayout="scroll"
            [globalFilterFields]="['date','totalActif','totalPassif','email']">


            <ng-template pTemplate="caption">
              <div class="flex">
                 <!--<button pButton label="Tout afficher" class="p-button-outlined" icon="pi pi-filter-slash" (click)="tableShort.clear(dt2)"></button>-->
                  <span class="p-input-icon-left mr-auto">
                      <i class="pi pi-search"></i>
                      <!--<input pInputText type="text" [(ngModel)]="motRecherche" (input)="dt2.filterGlobal(motRecherche, 'contains')" placeholder="Rechercher" />-->
                      <input pInputText type="text" [(ngModel)]="motRecherche" (input)="recherche()" placeholder="Rechercher" />

                  </span>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="date" pColumnFilter="date">Date Simulation<p-sortIcon field="date"></p-sortIcon></th>
                    <th pSortableColumn="totalActif" pColumnFilter="totalActif">Total Actif<p-sortIcon field="totalActif"></p-sortIcon></th>
                    <th pSortableColumn="totalPassif" pColumnFilter="totalPassif">Total Passif<p-sortIcon field="totalPassif"></p-sortIcon></th>

                    <!--<th pSortableColumn="contact" pColumnFilter="contact">Contact<p-sortIcon field="contact"></p-sortIcon></th>
                    <th pSortableColumn="email" pColumnFilter="email">Email<p-sortIcon field="email"></p-sortIcon></th>-->
                    <th pSortableColumn="bilan" pColumnFilter="bilan">Bilan<p-sortIcon field="bilan"></p-sortIcon></th>

                    <th></th>

                    <!--<th></th>-->
                    <!--<th></th>-->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-simulation>
                <tr class="cursor-pointer" >
                  <td (click)="show(simulation)"  style="width: 35%; min-width: 8rem;">{{simulation.date}}</td>
                  <td (click)="show(simulation)"  style="width: 35%; min-width: 8rem;">
                    <span appPriceFormater [priceValue]="simulation.totalActif | number: '1.0-0'"></span>
                    FCFA
                </td>
                  <td (click)="show(simulation)"  style="width: 35%; min-width: 8rem;">
                    <span appPriceFormater [priceValue]="simulation.totalPassif | number: '1.0-0'"></span>
                    FCFA
                </td>
                  <td (click)="show(simulation)"  style="width: 35%; min-width: 8rem;">
                    <span appPriceFormater [priceValue]="simulation.bilan | number: '1.0-0'"></span>
                    FCFA
                </td>

             
                  <td style="width: 15%;">
                    <button pButton pRipple type="button" (click)="delete('top-right',simulation)" icon="pi pi-trash" class="p-button p-component p-button-text p-button-icon-only"></button>
                  </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator (onPageChange)="onPageChange($event)"  [rows]="rows" [totalRecords]="totalRows" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>

    </div>
</div>

<p-toast position="top-center" key="tc"></p-toast>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="positionModalConfirm" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast key="adress"></p-toast>
