<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between gap-16">
      <div class="col-lg-12">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input [(ngModel)]="motRecherche"
            matInput
            placeholder="Rechercher"
            (keyup)="recherche()"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <!-- <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialogAdd()" color="primary">
          Ajouter un Produit
        </button>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="nom produit">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nom du produit</th>
          <td mat-cell *matCellDef="let product">
            {{ product.product.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="categorie">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Catégorie
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.product.category?.name }}
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let product" class="action-link">
            <a
            (click)="openDialog(product.product)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="eye" class="icon-18"></i-tabler
            ></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
      [length]="totalRows"
      [pageSize]="rows"
      [pageSizeOptions]="[5, 20, 30]"
        showFirstLastButtons
      (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>



<ng-template #dialogTemplate>
  <mat-dialog-content style="max-width: 1200px; padding: 16px;">

    <!-- Si priceData existe, afficher le tableau -->
    <div *ngIf="priceData; else noPriceData">
      <div class="dialog-container">
        <!-- Titre de la boîte de dialogue -->
        <h2 class="dialog-title">Détails du Prix</h2>

        <!-- Tableau élégant -->
        <div class="info-table">
          <!-- En-tête des colonnes -->
          <div class="info-header">
            <div class="info-header-cell">Fournisseur</div>
            <div class="info-header-cell">Prix</div>
          </div>

          <!-- Ligne Fournisseur -->

          <div *ngFor="let pric of price" class="info-row">
            <div *ngIf="pric.shop.user.id == user.id" class="info-cell label">{{ pric?.shop?.name || 'Non renseigné' }}</div>
            <div *ngIf="pric.shop.user.id == user.id" class="info-cell value">
              {{ pric?.value || 'Non renseigné' }}
              {{ pric?.currency?.symbol || 'Non renseigné' }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Si priceData n'existe pas, afficher un message alternatif -->
    <ng-template  #noPriceData>
      <h1 style="text-align: center; margin-top: 80px;">Pas de course pour ce produit</h1>
    </ng-template>

  </mat-dialog-content>
</ng-template>
