<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input [(ngModel)]="motRecherche"
            matInput
            placeholder="Rechercher un produit"
            (keyup)="recherche()"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialogAdd()" color="primary">
          Ajouter un Produit
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
          <td mat-cell *matCellDef="let product">{{ product.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nom</th>
          <td mat-cell *matCellDef="let product">
            {{ product.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Code
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Stock
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.stock?.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Unite
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.unit?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Categorie
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.category?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Marque
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.brand?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="conditioning">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Condition
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.conditioning?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Prix
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lossPercentage">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Poucentage de perte
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.lossPercentage }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Description
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let product" class="action-link">
            <a
             
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a

              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
      [length]="totalRows"
      [pageSize]="rows"
      [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


<ng-template #dialogTemplate>
  <mat-dialog-content style="max-width: 600px">
    <h2 mat-dialog-title>Ajouter un Produit</h2>
    <form #productForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Nom du Produit"
              required
              name="name"
              [(ngModel)]="productData.name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Code du Produit"
              required
              name="code"
              [(ngModel)]="productData.code"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Prix"
              required
              name="price"
              [(ngModel)]="productData.price"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Stock"
              required
              name="stock"
              [(ngModel)]="productData.stock"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Unité"
              required
              name="unit"
              [(ngModel)]="productData.unit"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Catégorie"
              required
              name="category"
              [(ngModel)]="productData.category"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Marque"
              required
              name="brand"
              [(ngModel)]="productData.brand"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              matInput
              placeholder="Description"
              name="description"
              [(ngModel)]="productData.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          mat-flat-button
          color="primary"
          (click)="addProduct()"
          [disabled]="!productForm.valid"
        >
          Ajouter
        </button>
        <button
          mat-stroked-button
          color="warn"
          class="m-l-8"
          (click)="closeDialog()"
        >
          Annuler
        </button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>
