<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input [(ngModel)]="motRecherche"
            matInput
            placeholder="Rechercher un produit"
            (keyup)="recherche()"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialogAdd()" color="primary">
          Ajouter un Produit
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nom</th>
          <td mat-cell *matCellDef="let product">
            {{ product.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Stock
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.stock?.quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Unite
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.unit?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Categorie
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.category?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Marque
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.brand?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="conditioning">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Condition
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.conditioning?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Prix
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="lossPercentage">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Poucentage de perte
          </th>
          <td mat-cell *matCellDef="let product" class="f-s-14">
            {{ product.lossPercentage }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let product" class="action-link">
            <a
            (click)="openDialogEdit(product)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
                (click)="deleteProduct(product)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
      [length]="totalRows"
      [pageSize]="rows"
      [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>



<!-- add -->
<ng-template #dialogTemplate>
  <mat-dialog-content style="max-width: 1200px">
    <h2 mat-dialog-title>Ajouter un Produit</h2>
    <form #productForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Nom du Produit"
              required
              name="name"
              [(ngModel)]="productData.name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Code du Produit"
              required
              name="code"
              [(ngModel)]="productData.code"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Prix"
              required
              name="price"
              [(ngModel)]="productData.price"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Stock"
              required
              name="stock"
              [(ngModel)]="productData.stock"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unité</mat-label>
            <mat-select
              [(ngModel)]="productData.unit"
              name="unit"
              required
            >
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Catégorie</mat-label>
            <mat-select
              [(ngModel)]="productData.category"
              name="category"
              required
            >
              <mat-option *ngFor="let category of categorys" [value]="category">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Marque</mat-label>
            <mat-select
              [(ngModel)]="productData.brand"
              name="brand"
              required
            >
              <mat-option *ngFor="let brand of brands" [value]="brand">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Conditionnement</mat-label>
            <mat-select
              [(ngModel)]="productData.conditioning"
              name="conditioning"
              required
            >
              <mat-option *ngFor="let conditioning of conditionings" [value]="conditioning">
                {{ conditioning.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              matInput
              placeholder="Description"
              name="description"
              [(ngModel)]="productData.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          mat-flat-button
          color="primary"
          (click)="addProduct()"
          [disabled]="!productForm.valid"
        >
          Ajouter
        </button>
        <button
          mat-stroked-button
          color="warn"
          class="m-l-8"
          (click)="closeDialog()"
        >
          Annuler
        </button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>

<!-- update -->
<ng-template #dialogTemplateEdit>
  <mat-dialog-content style="max-width: 1200px">
    <h2 mat-dialog-title>Modifier le Produit</h2>
    <form #productForm="ngForm">
      <div class="row">
        <!-- Nom du produit -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Nom du Produit"
              required
              name="name"
              [(ngModel)]="productData.name"
            />
          </mat-form-field>
        </div>
        <!-- Code du produit -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              placeholder="Code du Produit"
              required
              name="code"
              [(ngModel)]="productData.code"
            />
          </mat-form-field>
        </div>
        <!-- Prix -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Prix"
              required
              name="price"
              [(ngModel)]="productData.price"
            />
          </mat-form-field>
        </div>
        <!-- Stock -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              type="number"
              placeholder="Stock"
              required
              name="stock"
              [(ngModel)]="productData.stock.quantity"
            />
          </mat-form-field>
        </div>
        <!-- Unité -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unité</mat-label>
            <mat-select
              [(ngModel)]="productData.unit"
              name="unit"
              required
            >
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{ unit.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Catégorie -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Catégorie</mat-label>
            <mat-select
              [(ngModel)]="productData.category"
              name="category"
              required
            >
              <mat-option *ngFor="let category of categorys" [value]="category">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Marque -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Marque</mat-label>
            <mat-select
              [(ngModel)]="productData.brand"
              name="brand"
              required
            >
              <mat-option *ngFor="let brand of brands" [value]="brand">
                {{ brand.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Conditionnement -->
        <div class="col-lg-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Conditionnement</mat-label>
            <mat-select
              [(ngModel)]="productData.conditioning"
              name="conditioning"
              required
            >
              <mat-option *ngFor="let conditioning of conditionings" [value]="conditioning">
                {{ conditioning.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Description -->
        <div class="col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              matInput
              placeholder="Description"
              name="description"
              [(ngModel)]="productData.description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button
          mat-flat-button
          color="primary"
          (click)="editProduct()"
          [disabled]="!productForm.valid"
        >
          Modifier
        </button>
        <button
          mat-stroked-button
          color="warn"
          class="m-l-8"
          (click)="closeDialog()"
        >
          Annuler
        </button>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>


<!-- delete -->
<ng-template #dialogTemplateDelete>
  <h5 mat-dialog-title class="mat-subtitle-1">Suppression du produit</h5>
<div mat-dialog-content class="mat-subtitle-2 lh-16">
  Êtes-vous sûr de vouloir supprimer ce produit ?
</div>
<div mat-dialog-actions class="p-24 p-t-0">

  <button (click)="closeDialog()" mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>
    NON
  </button>

  <button (click)="confirmDelete()" mat-stroked-button color="warn" mat-dialog-close>OUI</button>
</div>

</ng-template>
