<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p-toast />
  <div class="login-container">
    <div class="login-image-section" style="background-image: url('assets/images/logimage.jpg');"></div>

    <div class="login-form-section">
      <div class="form-container">
        <div class="toast" [ngClass]="{ 'show': successMessage }">
          {{ successMessage }}
        </div>


        <h2>Se connecter à votre compte</h2>
        <p>Veuillez entrer votre email et votre mot de passe pour continuer</p>
        <h3 style="color: red; margin-top: 20px;margin-bottom: 20px;">{{ errorMessage }}</h3>
        <form #fCreate="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email :</label>
            <div class="input-container">
              <input type="text" name="login" id="login" [(ngModel)]="login" placeholder="Email" required />
            </div>
          </div>

          <div class="form-group">
            <label for="password">Mot de passe :</label>
            <div class="input-container password-container">
              <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Mot de passe" required />
            </div>
          </div>

          <div class="form-group">
            <button type="submit" [disabled]="!fCreate.valid" class="btn-login">Se connecter</button>
          </div>
        </form>

        <div class="err_msg mt-3">
          <p class="text-danger">
            <small id="username-help">Pas de compte ? <a href="#" [routerLink]="['/signup']" style="color: red;">Créer un compte</a></small>
          </p>
        </div>
        <div class="err_msg mt-3">
          <p class="text-danger">
            <small id="username-help"> Les accès non autorisés sont strictement interdits.</small>
          </p>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
