
        <div class="info-table">
        <div class="info-header">
          <div class="info-header-cell">POIDS UNITAIRE</div>
          <div class="info-header-cell">COUT UNITAIRE</div>
          <div class="info-header-cell">POIDS PLANIFIE</div>
          <div class="info-header-cell">COUT PLANIFIE</div>
        </div>

        <div class="info-row">
          <div class="info-cell">
            {{ plat.dishesId.poids | number: '1.0-3' }} KG
          </div>
          <div class="info-cell">
            {{ plat.dishesId.cout | number: '1.0-3' }} {{ usercurrency }}
          </div>
          <div class="info-cell">
            {{ plat.dishesId.poids * (plat?.quantite ?? 0) | number: '1.0-3' }} KG
          </div>
          <div class="info-cell">
            {{ getCoutTotalPlat(plat) }} {{ usercurrency }}
          </div>
        </div> 
        <div class="dialog-containe">
          <h3 class="dialog-title">COMPOSITION DU PLAT</h3>
        </div>
        
          <!-- <h3 class="dialog-title" >Composition du Plat</h3> -->
      
        <div class="info-table">
          <div class="info-header">
            <div class="info-header-cell">RECETTE</div>
            <div class="info-header-cell">QUANTITE UNITAIRE</div>
            <div class="info-header-cell">COUT UNITAIRE</div>
            <div class="info-header-cell">STOCK INITIAL</div>
            <div class="info-header-cell">QUANTITE PLANIFIEE</div>
            <div class="info-header-cell">COUT PLANIFIE</div>
          </div>

          <div *ngFor="let detail of compositionDishes" class="info-row">
            <div class="info-cell">{{ detail?.recipe?.name }}</div>
            <div class="info-cell">{{ detail?.quantity | number: '1.0-3' }} KG</div>
            <div class="info-cell" >{{ getCoutFormate(detail) }} {{ usercurrency }}</div>
            <div class="info-cell">{{ (detail?.recipe?.stock ?? 0) * 1000  }} KG</div>
            <div class="info-cell">{{ getQtePlanifieeRecette(detail, plat) }} KG</div>
            <div class="info-cell">{{ getMontantTotalRecette(detail, plat) }} {{ usercurrency }}</div>

          </div>

          <div class="info-row" *ngIf="compositionDishes.length == 0">
            <div class="info-cell label" colspan="3">Aucune recette</div>
          </div>
        </div>
        <!-- <button pButton label="Modifier le plat" type="submit" class="p-button-vert mt-3" (click)="show($event, plat)"></button> -->
      </div>
    <!--div class="right-column"-->
      <div class="dialog-containe">
        <h3 class="dialog-title">IMAGES DU PLAT</h3>
      </div>
      
      <div class="info-table">
        <div class="info-row" *ngFor="let picture of picturesDishes" (click)="showImage(picture, $event)">
          <!--div class="info-cell label">{{ picture?.label }}</div--->
          <div class="info-cell">
            <img style="height: 50%; width: 100%; object-fit:cover; cursor:pointer" 
                 [src]="'data:image/jpeg;base64,' + picture.file" 
                 alt="{{ picture?.label }}">
          </div>
        </div>
      
        <div class="info-row" *ngIf="picturesDishes.length == 0">
          <div class="info-cell label">Aucune image</div>
        </div>
      </div>
  <!--/div-->

