<div class="dialog-container">
  <h2 class="dialog-title">Détails de l'Approvisionnement</h2>

  <div class="info-table">
    <div class="info-header">
      <div class="info-header-cell">Attribut</div>
      <div class="info-header-cell">Valeur</div>
    </div>

    <div class="info-row">
      <div class="info-cell label">Date</div>
      <div class="info-cell value">{{ data.datePurchase }}</div>
    </div>

    <div class="info-row">
      <div class="info-cell label">Fournisseur</div>
      <div class="info-cell value">{{ shop.displayLabel }}</div>
    </div>

    <div class="info-row">
      <div class="info-cell label">Montant</div>
      <div class="info-cell value">{{ data.montant }}</div>
    </div>

    <div class="info-row">
      <div class="info-cell label">Devise</div>
      <div class="info-cell value">{{ data.currency.name }}</div>
    </div>
  </div>

  <p class="divider mt-4"></p>

  <h3 class="dialog-title">Liste des Produits</h3>
  <div class="info-table">
    <div class="info-header">
      <div class="info-header-cell">Produit</div>
      <div class="info-header-cell">Catégorie</div>
      <div class="info-header-cell">Conditionnement</div>
      <div class="info-header-cell">Quantité (unité)</div>
      <div class="info-header-cell">Prix Total</div>
    </div>

    <div *ngFor="let detail of detailPurchasesForms2" class="info-row">
      <div class="info-cell">{{ detail?.product?.name }}</div>
      <div class="info-cell">{{ detail.product?.category?.name }}</div>
      <div class="info-cell">{{ detail.product.conditioning?.name }}</div>
      <div class="info-cell">{{ detail?.realQ || detail?.quantity | number:'1.2-5' }} ({{ detail?.realUnit || detail?.unit?.code }})</div>
      <div class="info-cell">{{ detail.totalPrice }} {{ curren }}</div>
    </div>
  </div>
</div>