<mat-card class="cardWithShadow bg-primary">
    <mat-card-content>
        <div>
            <mat-card-title class="m-b-4 f-s-21 text-white">Welcome Jonathan Deo</mat-card-title>
            <mat-card-subtitle class="text-white m-b-16">Check all the statastics</mat-card-subtitle>
            <div class="rounded-full bg-lightest d-inline-flex align-items-center m-t-6">
                <div class="p-x-24 p-y-12 text-center b-r-1">
                    <h5 class="mat-subtitle-1 f-s-16 lh-sm text-white">573</h5>
                    <p class="f-s-12 mat-body-1 f-w-500 text-white">New Leads</p>
                </div>
                <div class="p-x-24 p-y-12 text-center">
                    <h5 class="mat-subtitle-1 f-s-16 lh-sm text-white">87%</h5>
                    <p class="f-s-12 mat-body-1 f-w-500 text-white">Conversion</p>
                </div>
            </div>
        </div>
        <div class="make-social-media d-none d-sm-block">
            <img src="assets/images/backgrounds/make-social-media.png" class="img-fluid" alt="MaterialM-img" />
        </div>
    </mat-card-content>
</mat-card>