<mat-card class="shadow-none bg-light-success success-card">
    <mat-card-content>
        <div
            class="bg-success m-b-30 rounded-circle-shape p-x-16 p-y-8 rounded-pill d-flex align-items-center justify-content-center">
            <i class="iconify f-s-24 text-white" data-icon="solar:dollar-minimalistic-linear"></i>
        </div>
        <h6 class="mat-subtitle-1 f-s-18 text-nowrap d-flex align-items-center gap-4 p-t-4 m-b-8">
            $245k
            <span class="f-s-12 f-w-600 p-x-10 p-y-1 rounded-pill border-muted text-muted lh-sm">+8%</span>
        </h6>
        <p class="f-s-14 mat-body-1 f-w-500">Earnings</p>
    </mat-card-content>
</mat-card>