<div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 0px;">
        <div>
            <h1>FEUILLE DE COURSE </h1>
            <p><i>Liste des ingredients à  achéter</i></p>
        </div>
        <div>
            <p-button (onClick)="generate()" label="IMPRIMER" icon="pi pi-print" />
        </div>
    </div>
        
    <table style="margin-bottom: 35px;">
        <thead>
            <tr>
                <th style="text-align: center;"><b><i>LISTE DES INGREDIENTS</i></b></th>
                <th>QUANTITE</th>
                <th>PRIX UNITAIRE</th>
                <th>TOTAL</th>
                <th>DEVISE</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let detail of detailRecipeList">
                <tr *ngIf="detail.product?.secondaryRecipe == false">
                        <!---th style="text-align: left;"> {{detail?.product?.name}} / ({{detail?.product?.category?.name}} / {{detail?.product?.conditoning?.name}})</th--->
                        <th style="text-align: left;"> {{detail?.product?.name}} <p style="text-align: left;font-size: x-small;"><i>{{detail?.product?.category?.name}} / {{detail?.product?.conditioning?.name}}</i></p></th>
                        <td>{{ (-1) * detail.currentStock | number:'1.0-3'  }} {{detail?.product?.unit?.code}}</td>
                        <td>{{ detail?.product?.price }} </td>
                        <td appPriceFormater [priceValue]=" ( (-1) * detail.currentStock * detail?.product?.price ) | number: '1.0-3' " > </td>
                        <td>{{detail?.product?.user?.compteUser?.address?.country?.currency?.name}}</td>
        
                </tr>
            </ng-container>
            <tr class="total-row">
                <th colspan="4" style="text-align: left;">TOTAL</th>
                <th appPriceFormater [priceValue]="((-1) * total) | number: '1.0-3'"> </th>
            </tr>
        </tbody>
    </table>
</div>
