<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center m-b-24">
            <mat-card-title class="m-b-0 f-s-18">Annual Profit</mat-card-title>
            <div>
                <button class="custom-mdc-button" mat-button [matMenuTriggerFor]="menu">
                    <i-tabler name="dots-vertical" class="icon-20"></i-tabler>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Another action</span>
                    </a>
                    <a href="javascript:void(0)"
                        class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8">
                        <span>Something else here</span>
                    </a>
                </mat-menu>
            </div>
        </div>

        <div class="bg-light-primary rounded overflow-hidden m-b-16">
            <div class="p-24">
                <div class="d-flex align-items-center justify-content-between">
                    <span>Conversion Rate</span>
                    <h4 class="mat-subtitle-1 f-s-28 f-w-600">18.4%</h4>
                </div>
            </div>
            <!-- chart -->
            <apx-chart [series]="annualprofitChart.series" [chart]="annualprofitChart.chart"
                [stroke]="annualprofitChart.stroke" [markers]="annualprofitChart.markers"
                [tooltip]="annualprofitChart.tooltip"></apx-chart>
        </div>

        <div class="hstack justify-content-between align-items-center p-b-12 b-b-1">
            <div>
                <span class="mat-body-1 text-dark f-w-400 d-block">Added to Cart</span>
                <span class="mat-body-1 f-s-13 f-w-500 m-t-4">5 clicks</span>
            </div>
            <div class="text-right">
                <h5 class="f-w-400 f-s-16 mat-subtitle-1 m-b-1">$21,120.70</h5>
                <span class="text-success f-s-13 f-w-500">+13.2%</span>
            </div>
        </div>
        <div class="hstack justify-content-between align-items-center p-t-12">
            <div>
                <span class="mat-body-1 text-dark f-w-400 d-block">Reached to Checkout</span>
                <span class="mat-body-1 f-s-13 f-w-500 m-t-4">12 clicks</span>
            </div>
            <div class="text-right">
                <h5 class="f-w-400 f-s-16 mat-subtitle-1 m-b-1">$16,100.00</h5>
                <span class="text-error f-s-13 f-w-500">-7.4%</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>