.image{
    width: 100%;
    height: 500px; /* Hauteur définie */
    background-size: cover; /* Couvre toute la div */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image lors du scroll */
  }
  