<p-confirmDialog [style]="{ width: '50vw' }" key="positionDialog" [position]="positionModalConfirm" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input [(ngModel)]="motRecherche"
            matInput
            placeholder="Rechercher"
            (keyup)="recherche()"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialogAdd()" color="primary">
          Ajouter un fournisseur
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nom</th>
          <td mat-cell *matCellDef="let shop">
            {{ shop.name }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="acronym">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Acronym
          </th>
          <td mat-cell *matCellDef="let shop" class="f-s-14">
            {{ shop.acronym }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Adresse
          </th>
          <td mat-cell *matCellDef="let shop" class="f-s-14">
            {{ shop.addressPrincipale?.label }}
          </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Action
          </th>
          <td mat-cell *matCellDef="let shop" class="action-link">
            <a
            (click)="openDialogEdit(shop,addresse)"
              class="m-r-10 cursor-pointer"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
                (click)="delete('top-right',shop)"
              class="m-r-10 cursor-pointer"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
      [length]="totalRows"
      [pageSize]="rows"
      [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>


<!-- add -->
<ng-template #dialogTemplate>
  <mat-dialog-content style="max-width: 1200px; max-height: 450px;">
    <div class="p-16 bg-light-primary rounded" style="margin-bottom: 20px;">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>
        Ajout d'un fournisseur
      </h5>
    </div>
    <form #shopForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <label for="name">Nom du Fournisseur</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="name"
              placeholder="Entrez le nom du fournisseur"
              required
              name="name"
              [(ngModel)]="shopData.name"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="address">Adresse</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="address"
              placeholder="Entrez l'adresse"
              required
              name="address"
              [(ngModel)]="address.label"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="country">Pays</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              id="country"
              [(ngModel)]="address.country"
              name="country"
              required
            >
              <mat-option *ngFor="let country of countrys" [value]="country">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="city">Ville</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="city"
              placeholder="Entrez la ville"
              required
              name="city"
              [(ngModel)]="address.city"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="streetName">Nom de la Rue</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="streetName"
              placeholder="Entrez le nom de la rue"
              required
              name="streetName"
              [(ngModel)]="address.nameStreet"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="streetNumber">Numéro de la Rue</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="streetNumber"
              placeholder="Entrez le numéro de la rue"
              required
              name="streetNumber"
              [(ngModel)]="address.streetNumber"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-flat-button color="primary" class="large-button" (click)="save()" [disabled]="!shopForm.valid"> Ajouter </button>
        </div>
        <div class="col-lg-6">
          <button mat-stroked-button color="warn" class="large-button m-l-8" (click)="closeDialog()"> Annuler </button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>

<!-- edit -->

<ng-template #dialogTemplateEdit>
  <mat-dialog-content style="max-width: 1200px; max-height: 450px;">
    <div class="p-16 bg-light-primary rounded" style="margin-bottom: 20px;">
      <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>
        Modification d'un fournisseur
      </h5>
    </div>
    <form #shopForm="ngForm">
      <div class="row">
        <div class="col-lg-6">
          <label for="nameEdit">Nom du Fournisseur</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="nameEdit"
              placeholder="Entrez le nom du fournisseur"
              required
              name="name"
              [(ngModel)]="shopData.name"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-lg-6">
          <label for="acronym">Acronyme</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="acronym"
              placeholder="Entrez l'acronyme"
              required
              name="acronym"
              [(ngModel)]="shopData.acronym"
            />
          </mat-form-field>
        </div> -->
        <div class="col-lg-6">
          <label for="addressEdit">Adresse</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="addressEdit"
              placeholder="Entrez l'adresse"
              required
              name="address"
              [(ngModel)]="address.label"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="countryEdit">Pays</label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select
              id="countryEdit"
              [(ngModel)]="address.country"
              name="country"
              required
            >
              <mat-option *ngFor="let country of countrys" [value]="country">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="cityEdit">Ville</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="cityEdit"
              placeholder="Entrez la ville"
              required
              name="city"
              [(ngModel)]="address.city"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="streetNameEdit">Nom de la Rue</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="streetNameEdit"
              placeholder="Entrez le nom de la rue"
              required
              name="streetName"
              [(ngModel)]="address.nameStreet"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <label for="streetNumberEdit">Numéro de la Rue</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              id="streetNumberEdit"
              placeholder="Entrez le numéro de la rue"
              required
              name="streetNumber"
              [(ngModel)]="address.streetNumber"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <button mat-flat-button color="primary" class="large-button" (click)="update()" [disabled]="!shopForm.valid"> Modifier </button>
        </div>
        <div class="col-lg-6">
          <button mat-stroked-button color="warn" class="large-button m-l-8" (click)="closeDialog()"> Annuler </button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>



<p-toast position="top-center" key="tc"></p-toast>
<p-toast key="shop"></p-toast>
